<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>baogao Quiz</title>
    <link type="text/css" rel="stylesheet" href="/css/baogaoQ_1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://use.fontawesome.com/77cff2c481.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/baogaoQ_1.js"></script>
</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="/bq">Baogao Quiz</a></li>
        </ul>
    </div>

    <section id="Qmain">
        <div id="field-container">
            <span class="prev viewport-arrow">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
            </span><div class="viewport-clip">
                <div class="viewport">
                    <ul class="field-tab"></ul>
                </div>
            </div><span class="next viewport-arrow">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </span>

            <div class="field">
                <div id="field-1" class="field-content">
                    <!--<h3>바오가오 공부해용!</h3>
                    <p>Q1. 한국어</p>
                    <button>
                        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i>answer1</span>
                    </button>
                    <button>
                        <span><i class="fa fa-check-circle-o" aria-hidden="true"></i>answer2</span>
                    </button>-->
                </div>
                <div id="field-2" class="field-content">


                </div>
                <div id="field-3" class="field-content">

                </div>
                <div id="field-4" class="field-content">

                </div>
            </div>
        </div>
    </section>
    <div class="alertwrap">
        <div class="alertPop">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <h2>정답입니다. <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h2>
            <p>오류가 있어요. <i class="fa fa-envelope" aria-hidden="true"></i></p>
            <textarea></textarea>
            <button id="errorS" type="submit">제출</button>
        </div>
    </div>

    <div class="usermail">
        <div class="userCP">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <h2>메일로 쿠폰을 쏩니다!퐝퐝!</h2>
            <textarea></textarea>
            <button id="errorS" type="submit">제출</button>
        </div>
    </div>

</body>

</html>