<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>baogao Quiz</title>
    <link type="text/css" rel="stylesheet" href="/css/baogaoQ.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://use.fontawesome.com/77cff2c481.js"></script>
</head>

<body>
    <!--메뉴
    <div id="menu">
        <ul>
            <li><a href="/event/quiz">Baogao Quiz</a></li>
        </ul>
    </div>-->

    <!--퀴즈 메인-->
    <section id="quiz_main">
        <!--quiz content-->
        <div class="grid">
            <!--quiz header-->
            <div id="quiz_header">
                <img src="/img/quiz_logo.png" />
            </div>
            <!--quiz content-->
            <div class="content">
                <img src="/img/quiz_back.png" />
                <div class="start_text">
                    <h1>baogao<br />QUIZ</h1>
                </div>
                <!--quiz start btn-->
                <div class="start_button">
                    <button id="startBtn">Start</button>
                </div>
            </div>
        </div>
    </section>
    
    <script type="text/javascript" rel="javascript" src="/js/baogaoQ.js"></script>
</body>

</html>