<div id="question_header">
    <h1>Quiz</h1>
</div>

<div class="content">
    <div class="content_array">
        <div class="cheer_text">
            <p></p>
        </div>

        <div class="quiz_board">
            <img src="/img/quiz_board.png" />

            <div class="fix_window">
                <!--문제-->
                <p id="question"></p>

                <!--주관식 답-->
                <div class="short-answer"><i class='fa fa-long-arrow-left' aria-hidden='true'></i></div>

                <!--답 버튼-->
                <div class="buttons">
                    <button id="choice0"></button>
                    <button id="choice1"></button>
                </div>


                <!--정답,오답 알림-->
                <div class="alertwrap">
                    <div class="alertPop">
                        <h2>正确</h2>
                        <h1>O</h1>
                        <p class="sendError">报告错误</p>
                    </div>
                </div>
            </div>
        </div>
        <!--오류신고-->
        <div class="errorPop">
            <h2>报告错误</h2>
            <textarea placeholder="text"></textarea>
        </div>

        <!--진행 바-->
        <div class="progress_bar">
            <div id="progress"></div>
        </div>

        <!--next btn-->
        <div class="submit_btn">
            <button>submit</button>
        </div>
    </div>

</div>

<div class="loading">
    <img src="/img/loader.gif" />
</div>



<!--메일 창(쿠폰)-->
<!--<div class="usermail">
    <div class="userCP">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <h2><span>메일로 쿠폰을 쏩니다!</span></h2>
        <input type="email" value name="EMAIL" placeholder="email address" />
        <button id="CPmail" type="submit">제 출</button>
    </div>
</div>-->

<!--<script type="text/javascript" rel="javascript" src="/js/b_questions.js"></script>-->