<div class="mail_wrap" style="background:#eee">
    <table class="mail_header" cellpadding="0" cellspacing="0" style="border:0; border-collapse: collapse; width: 100%; height: auto; max-height:400px; text-align: center; margin:0 auto; background:#eee; text-size-adjust: 100%; border-spacing:0;">
        <tbody>
            <tr>
                <td align="center" style="background-color:#000; background-image:url(http://baogao.co/img/form.jpg); background-repeat:no-repeat; background-position:center; background-size:cover; text-size-adjust:100%; border-top:0; border-bottom:0; padding-top:90px;">
                    <table cellpadding="0" cellspacing="0" style="text-align:center; border:0; width:100%; text-size-adjust:100%; max-width:600px !important; border-spacing:0;">
                        <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                            <tr style="display:table-row; vertical-align:inherit; border-color:inherit;">
                                <table style="min-width: 100%; border-collapse: collapse;">
                                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                                        <tr style="display: table-row; vertical-align: inherit; border-color: inherit;">
                                            <td style="padding:9px;">
                                                <table style="min-width: 100%; border-collapse: collapse;">
                                                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                                                        <tr style="display: table-row; vertical-align: inherit; border-color: inherit;">
                                                            <td style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align: center;">
                                                                <img src="http://baogao.co/img/baogao_Bwhite.png" style="width:80%; max-width: 500px; padding-bottom: 0; display: inline !important; vertical-align: bottom; border: 0; height: auto; outline: none; text-decoration: none; margin-bottom:100px;"
                                                                />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:90%; max-width:1200px; height:auto; background:#fff; text-align:center; margin-top:30px;">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="100%">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" valign="top" style="padding-top:50px;">
                                                                                    <h1 style="color:#222; font-size:2.8em;"><%- mainTitle %></h1>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top" style="padding-bottom:40px">
                                                                                    <h2 style="color:#222; font-size:1.5em; font-weight:400; z-index:10; "><%- subTitle %></h2>
                                                                                </td>
                                                                            </tr>
																			<% content.forEach(function(item) { %>
																				<% if(item.type=="table"){ %>
																					<tr>
																						<td align="left" valign="top" style="padding-bottom:30px">
																							<table align="center" cellpadding="0" cellspacing="0" style="width:95%; max-width: 700px; margin:0 auto; border-top:2px solid #222; border-bottom:2px solid #222; color:#222; border-collapse: collapse; font-size:100%;">
																								<tbody style="display:table-row-group; vertical-align:middle; border-color: inherit;">
																									<% item.table.forEach(function(item2) { %>
																									
																										<tr style="display: table-row; vertical-align: inherit; width:100%; border-bottom:1px solid #d8d8d8; text-align:left;">
																											<th style="width:25%; background:#e7e7e7; padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;"><%- item2.title %></th>
																											<td style="padding-left:20px; padding-top:15px; padding-bottom:15px;"><%- item2.text %></td>
																										</tr>

																									<% }); %>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				<% } %>
																				<% if(item.type=="p"){ %>
																					<tr>
																						<td align="center" valign="top" style="padding-bottom:20px">
																							<p class="mail_content" style="color:#000; font-size:1em; width:90%; max-width:840px; padding:0; margin:0 auto; margin-top:60px; line-height:24px; word-break: break-all; text-align:left;">
																								<%- item.text %>
																							</p>
																						</td>
																					</tr>
																				<% } %>
																				<% if(item.type=="button"){ %>
																					<tr>
																						<td align="center" style="padding-bottom:60px" valign="top">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																								<tbody>
																									<tr>
																										<td align="center" valign="middle">
																											<a href="<%- item.href %>" class="mail_button" target="_blank" style="cursor:pointer; font-size: 1em; text-transform: uppercase; border:none; background:#8f8f8f; color: #fff; padding-top:12px; padding-bottom:12px; letter-spacing:.3px; min-width:230px; border-radius:10px; margin-top:50px; margin-bottom:60px; display:inline-block; text-decoration:none;"><%- item.text %></a>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				<% } %>
																			<% }); %>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="mail-footer" width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td style="padding-top:50px; padding-bottom:26px; padding-right:15px; padding-left:15px; ">
                                    <table class="contents" cellpadding="0" cellspacing="0" border="0" width="100%" style="font-size:0.7em; line-height:16px; color:#606060; text-align:center; ">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom:10px; ">
                                                    <table align="center" class="mail_social" cellpadding="0" cellspacing="0" border="0" style="font-size:0.8em; line-height:10px; margin-top:0; margin-bottom:0; margin-right:auto; margin-left:auto; ">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <div>
                                                                        <p style="margin-top:0;margin-right:0;margin-left:0;margin-bottom:4px;">
                                                                            <a href="https://www.facebook.com/ciceronmate/" target="_blank" style="text-decoration:none; padding-right:20px; padding-left:20px; margin-bottom:20px; "><img src="http://baogao.co/img/facebook-letter-logo.png" title="facebook" alt="facebook" style="max-width: 32px; height:auto; border:0; outline:none; text-decoration:none; width:80%;" /></a>
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                                <td align="center">
                                                                    <div>
                                                                        <p style="margin-top:0;margin-right:0;margin-left:0;margin-bottom:4px;">
                                                                            <a href="https://www.instagram.com/baogao.co/" target="_blank" style="text-decoration:none; padding-right:20px; padding-left:20px; margin-bottom:20px; "><img src="http://baogao.co/img/instagram-logo.png" title="instagram" alt="instagram" style="max-width: 32px; height:auto; border:0; outline:none; text-decoration:none; width:80%;" /></a>
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <p style="margin: 20px 0 5px 0;"><span style="font-size: 1em; color: #7b7c80;"><strong>교열 요청을 하신 적이 없으신가요? </strong>&nbsp;바오가오로 문의주세요.<br /><span style="color: #606060;"><a href="mailto:baogao@ciceron.me" target="_blank" style="color: #7b7c80;">baogao@ciceron.me</a> / <a href="tel:+8223363830" target="_blank" style="color: #7b7c80;">+82-2-336-3830</a></span></span>
                                                        </p>
                                                        <p style="margin: 10px 0 4px 0;"><span style="font-size: 1em; color: #7b7c80 !important;">301, Jinseong Building, <br />36, Donggyo-ro 12-gil, Mapo-gu, <br />Seoul, Republic of Korea</span></p>
                                                        <p style="margin: 20px 0 4px 0;"><span style="font-size: 1m; color: #7b7c80;">본 메일은 회원님의 동의 하에 바오가오에서 발송한 발신전용 메일입니다.</span></p>
                                                        <!--<p style="margin: 5px 0 20px 0;"><span style="font-size: 1em;"><b><a href="#" style="text-decoration: none; color: #7b7c80;" target="_blank">친구에게 공유하기</a> · <a href="#" style="text-decoration: none; color: #7b7c80;" target="_blank">수신거부 하기</a></b></span></p>-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>