<div style="width: 100%; height: 300px; text-align: center; position: relative; background-color: #efefef;" >
	<img src="/img/baogao.png" style="height: 150px; margin-top: 75px;"/>
</div>
<div style="width: 100%; height: auto; text-align: center; position: relative;">
	<span style="display: block; color: #adadad; font-size: 16px; font-style: italic;">알림 사항</span>
	<span style="display: block; font-size: 24px;">교열 요청이 완료되었습니다.</span>
	<span style="display: block; font-size: 14px; margin-top: 120px;">baogao 서비스를 이용해주셔서 감사합니다. 빠른 시일 내에 작업 결과를 드릴 수 있도록 노력하겠습니다.</span>
</div>