* {
    margin: 0; padding: 0;
    font-family: NotoSansCJKkr;
    color: #231f20;
    user-select: none;
    font-size: 14px;
}
html, body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

@font-face {
    font-family: NotoSansCJKkr;
    src: url(/fonts/NotoSans-Regular.ttf);
}
@font-face {
    font-family: NotoSansCJKkrBold;
    src: url(/fonts/NotoSans-Bold.ttf);
    font-weight: bold;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* menu bar */
#menu {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

#menu ul {
    float: right;
    margin-right: 5%;
}
#menu ul a {
    color: #168046;
}

/* Quiz main grid */
#quiz_main {
    height: auto;
    width: 100%;
    background: #e7f2ec;
}
#quiz_main .grid {
    width: 100%;
    max-width: 800px;
    min-height: 500px;
    margin: 0 auto;
    background: #fcfcfc;
    position: relative;
}

/*quiz start*/
#quiz_main .grid #quiz_header, #quiz_main .grid #question_header {
    text-align: center;
    background: #00824c;
    color: #fff;
    width: 100%;
    height:auto;
    max-height: 270px;   
    box-sizing: border-box;
    position: relative;
}
#quiz_main .grid #quiz_header img {
    width: 100%;
    height: auto;
}

/*quiz content*/
#quiz_main .grid .content {
    height: auto;
    text-align: center;
}
#quiz_main .grid .content img {
    width: 100%;
    height: auto;
}
#quiz_main .grid .content .start_text h1, .start_text h2 {
    font-size: 5.5em;
    color: #fff;
    position: absolute;
    left: 50%; top: 58%;
    transform: translate(-50%, -50%);
    /*padding-top: 340px;*/
}

#quiz_main .grid .content .start_button {
    width: 100%;
    position: absolute;
    bottom: 30px;
}
#quiz_main .start_button #startBtn {
    width: 240px;
    height: 90px;
    border-radius: 66px;
    background: #f6a623;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px #7b7c80; 
    border: none;
}

/*quiz questions*/
#quiz_main .grid #question_header {
    border-bottom: 60px solid #006c3f;
}
#quiz_main .grid #question_header h1 {
    font-size: 7em;
    color: #fff;    
    padding: 30px;
    text-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
}
#quiz_main .grid .content .content_array {    
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}
#quiz_main .grid .content .cheer_text {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}
#quiz_main .grid .content .cheer_text p {
    width: 50%;
    max-width: 550px;
    margin: 0 auto;
    padding: 30px 30px;
    background:#92c81f;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    position: relative;
    font-size: 1.8em;
}
#quiz_main .grid .content .cheer_text p::after {
    display: block;
    content: '';
    position: absolute;
    width: 0; height: 0; 
    border: 33px solid transparent;
    border-top-color: #92c81f;
    bottom: -60px; left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

#quiz_main .grid .content .quiz_board {
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
}
#quiz_main .grid .content .quiz_board img {
    width: 100%;
}
#quiz_main .grid .content .quiz_board #question {
    font-size: 3.3em;
    font-weight: bold;
    color: #000;
    padding-bottom: 30px;
    word-break: keep-all;
    width: 90%;
    margin: 0 auto;
}
#quiz_main .grid .content .quiz_board #question p {
    font-size: 0.8em;
    margin-top: 20px;
}
#quiz_main .grid .content .quiz_board h2, .quiz_board h1 {
    font-weight: bold;
    color: #ff2020;
    font-size: 4em;
}
.alertPop>h1 {
    font-size: 7em;
    line-height: 1em;
}
#quiz_main .grid .content .quiz_board .short-answer {
    display: none;
    width: 90%;
    height: 82px;
    margin: 0 auto;
    border: 4px solid #00824c;
    position: relative;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 3em;
    padding-left: 1em;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
}
#quiz_main .grid .short-answer .fa {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}
#quiz_main .grid .short-answer span {
    font-size: 1.8em;
    font-weight: 500;
    text-align: left;
    color: #000;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 82px;
}
#quiz_main .grid .short-answer span:hover {
    border: 1px solid #aaaaaa;
}

#quiz_main .content_wrap .content h1 {
    font-size: 6em;
    font-weight: bold;
    font-family: NotoSansCJKkrBold;
    line-height: 1.2;
    color:#fff;
}
#quiz_main .content_wrap .content h2 {
    font-size: 6em;
    color:#fff;
}

#quiz_main .buttons {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

#quiz_main button:hover {
    opacity: 0.8;
    box-shadow: none;
}

.buttons button, .buttons>span {
    background: #ffd62a;    
    word-break: keep-all;
    font-weight: 500;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px 20px;
    display: inline-block;
    color: #000;
    margin-bottom: 95px;
}
.buttons button {
    width: auto;
    min-width: 177px;
    height: auto;
    font-size: 2.5em;
    margin: 10px 20px;
}

.submit_btn button.active{
    animation: blink;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
}
.buttons>span {
    font-size: 1.8em;
    margin: 10px;
}
.buttons button:hover, .buttons>span:hover, .buttons button.active {
    cursor: pointer;
    border: 1px solid #aaaaaa;
    background: #aaaaaa;
    color: #fff;
}
/*#quiz_main .buttons p {
    font-size: 1.5em;
    font-weight: 500;
    color: #231f20;
    margin-bottom: 10px;
}*/
.buttons input.mail_address {
    width: 60%;
    min-width: 300px;
    padding: 10px 20px;
    border: none;
    font-size: 1.5em;
    border: 2px solid #000;
    color: #000;
}
.progress_bar {
    margin: 0 auto;
    width: 100%;
    height: 44px;
    border-radius: 100px;
    background: #d9d9d9;
    box-shadow: inset 0 1px 8px 0 rgba(128, 128, 128, 0.5);
    overflow: hidden;
    position: relative;
    margin-top: 60px;
}
.progress_bar #progress {
    z-index: 100;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background: linear-gradient(to right,	yellow, #f6a623);
    font-size: 1.2em;
    font-weight: 400;
    padding: 15px 0;
}
.next_btn, .submit_btn {
    text-align: center;
}
.next_btn button, .submit_btn button, .error_btn button {
    padding: 10px 25px;
    height: auto;
    border-radius: 66px;
    background: #00824c;
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: none;
    display: inline-block;
    margin: 40px 10px;
}
.error_btn .backbtn {
    background: #7b7c80;
}

/* 정답 오답 알림 */
.fix_window {
    /*position: relative;*/
    width: 100%;
    height: auto;
    /*min-height: 300px;*/
}
.alertwrap {
    display: none;
    position: relative;
    background: #fff;
    /*left: 0; top: 0;*/
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
}
.alertwrap .alertPop {
    margin-left: 40px;
    margin-right: 40px;
}
.alertPop .correct {
    font-size: 0.7em;
    font-weight: bold;
    color: #000;  
    line-height: 1.2em;
    margin-bottom: 50px;  
}
.alertPop span {
    display: inline-block;
    font-size: 0.4em;
    font-weight: bold;
    color: #000;
}
.alertPop p.sendError , .buttons .mailsend {
    width: 125px;
    height: 47px;
    line-height: 47px;
    border-radius: 66px;
    background: #a9a9a9;
    font-size: 1.6em;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.alertPop p.sendError {
    position: absolute;
    right: 24px;
    bottom: 0;
}
.buttons .mailsend {
    display: inline-block;
    margin-left: 20px;
    border:none;
}
.errorPop {
    display: none;
}
.errorPop h2 {
    color: #231f20;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 40px;
}
.errorPop textarea {
    width: 100%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    background: #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    font-size: 1.7em;
}

#quiz_main .loading {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    overflow: hidden;
}
#quiz_main .loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

