/*@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}*/
 /* #f9fefb; */
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

	.ui-autocomplete {
		max-height: 220px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
	}

	.ui-autocomplete .ui-menu-item{
		padding: 8px 0px 8px 10px;
		border: 1px solid transparent;
	}

    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/

    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
		font-family: 'Noto Sans SC', sans-serif;
        /*font-family: sans-serif;*/
        overflow-x: hidden; 
        color: #231f20;
		background-color: #fcfcfc;
    }

	.curve{
		position: absolute;
		bottom: 0px;
		height: 70px;
		width: 100%;
	}

	

	.fixed_header{
		width: 100%;
		height: auto;
		padding: 20px 0px;
		position: fixed;
		z-index: 9999;
		background-color: #fcfcfc;
		display: block;
		transform: translateY(0);
		border-top: 1px solid #168046;
	}

	.fixed_header.invisible{
		/*display: none;*/
		transform: translateY(-100%);
	}

	.fixed_header .fixed_header-logo{
		width: auto;
		height: 40px;
		vertical-align: middle;
		cursor: pointer;
	}

	.intro{
		width: 100%;
		/*height: 600px;*/
		/*background-color: #00664f;*/
		/*background-color: #5f80b6;*/
		background-color: #168046;
		position: relative;
		/*background-image: url('/img/back3.jpg');*/
		background-size: 100% 100%;
		background-position: 50% 20%;
		position: relative;
		background-repeat: no-repeat;
		/*text-align: center;*/
		z-index: 1;
		color: #fcfcfc;
	}

	.intro .container{
		
		padding-top: 20px;
		/*background-image: url('/img/back4.jpg');*/
		background-size: auto 100%;
		background-position: 50% 20%;
		position: relative;
		z-index: -12;
		text-align: center;
	}

	.intro .intro-logo{
		font-size: 2.6em;
		font-weight: 100;
		display: block;
		cursor: pointer;
		text-align: left;
	}

	.intro .intro-title{
		/*margin-top: 36px;
		padding-bottom: 12px;*/
		width: auto;
		height: auto;
		display: inline-block;
		font-size: 2.5em;
		font-weight: 400;
		/*background-color: rgba(240, 240, 240, 0.5)*/
	}


	.intro .intro-content{
		width: 100%;
		height: auto;
		display: block;
		text-align: center;
		font-size: 1.8em;
		font-weight: 100;
		opacity: 0.85;
		/*color: #7CE6AC;*/
		/*background-color: rgba(240, 240, 240, 0.5)*/
	}

	.intro .intro-a4{
		width: 40%;
		position: relative;
		/*transform: translateY(50%);*/
		transform: rotate(4deg) translateY(10%);
		z-index: 0;
		box-shadow: 0px 5px 20px #3d3d3d;
		/*box-shadow: 0px 5px 15px #7b7c80;*/
		margin-top: 30px;


	}

	.intro .intro-a4:hover{
		transform: rotate(0deg) translateY(8%) scale(1.1);
	}

	.intro .intro-button{
		width: 220px;
		background: #FFF;
		margin: 10px;
		/*color: white;*/
		border: 1px solid transparent;
		font-size: 16px;
		font-weight: 500;
		padding: 14px 10px 16px;
		
		cursor: pointer;

	}

	.intro .intro-button:hover{
		box-shadow: 0px 1px 4px #7b7c80;
		
	}


	.title{
		display: inline-block;
		font-size: 2.1em;
		font-weight: 400;
		/*width: 100%;*/
		text-align: center;
		color: #168046;
	}

	.school{
		width: 100%;
		height: auto;
		z-index: 100;
		background-color: #e7f2ec;
		position: relative;
		padding: 40px 0px;
		text-align: center;
	}
	

	.school .school-item{
		width: 30%;
		height: 180px;
		margin: 1.5%;
		display: inline-block;
		background-color: #FFFFFF;
		/*background-color: #fcfcfc;*/
		/*background-image: url('/img/korea.png');*/
		background-size: auto 50%;
		background-position: 50% 24px;
		background-repeat: no-repeat;
		border: 1px solid #fcfcfc;
		position: relative;
		cursor: pointer;

		border-left: 3px solid transparent;
		
		/*box-shadow: 0px 5px 15px #7b7c80;*/
	}
	.school .school-item:hover{
		box-shadow: 0px 5px 15px #ddd;
		border-left: 3px solid #168046;
	
	}

	.school .school-item .school-item-title{
		width: 100%;
		display: block;
		position: absolute;
		bottom: 24px;
		text-align: center;
	}


	.form-header{
		width: 100%;
		height: auto;
		position: relative;
		border-top: 1px solid #872434;
	}


	.form-header .container{
		/*background-color: #ee008c;*/
		padding: 15px 0px 55px 0px;

		/*background-color: #FFFFFF;*/
		
	}

	.form-header .container .form-header-top{
		background-size: cover;
		background-position: center;
		/*color: #FFF;*/
	}

	
    .form-header .form-header-back{
        width: 1.6em;
        height: 1.6em;
        float: left;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.6em;
        cursor: pointer;
		font-weight: 700;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;


    }

    .form-header .form-header-back:hover{
        background-color: #d3d3d3;
        color: #FFFFFF;
        border-radius: 50%;
    }



	.form-header .form-header-logo{
		width: auto;
		height: auto;
		display: inline-block;
		/*display: block;*/
		/*text-align: center;*/
		font-weight: 700;
		font-size: 1.4em;
		/*color: #7b7c80;*/
		letter-spacing: -2px;
		margin-bottom: 80px;
		margin-left: 12px;
	}

	.form-header .form-header-logo img{
		cursor: pointer;

	}

	.form-header .form-header-title{
		width: auto;
		height: auto;
		display: block;
		font-weight: 500;
		font-size: 3em;
		margin-left: 80px;
	}

	.form-header .form-header-content{
		width: auto;
		height: auto;
		display: block;
		font-weight: 300;
		font-size: 2.4em;
		margin-left: 80px;
		padding-right: 470px;		
	}

	.form-request{
		width: 100%;
		height: 600px;
		/*position: absolute;
		top: 0px;*/
		/*transform: rotate(-0.5deg);*/
		z-index: -1;
		/*padding-top: 40px;*/
	}

	.form-request .container{
		background-image: url('/img/korea.jpg');
		background-size: cover;
		background-position: center;
		/*background-image: url('/img/back22.png');
		background-size: 22%;
		background-position: right;*/
		background-repeat: repeat;
		background-color: #fcfcfc;
		height: 100%;
		position: relative;
	}

	.form-request .form-request-shape{
		/*content: "";*/
		position: absolute;
		width: 480px;
		height: 100%;
		top: 0px;
		right: -0px;
				
		background-image: url('/img/korea.png');
		background-size: 4%;
		background-position: right;
		background-color: #872434;

	}

	.form-request-inside{
		width: 400px;
		/*height: 100%;*/
		position: relative;
		float: right;
		padding: 40px 35px;
		background-color: #fcfcfc;
		margin-right: 85px;
		margin-left: 30px;
		box-shadow: 0px 5px 20px #3d3d3d;
		border-top: 1px solid #872434;
		
		/*font-size: 0.8em;*/

		margin-top: -100px;
		margin-bottom: 40px;
		z-index: 30;
	}

	.form-request-inside .input-help{
		font-size: 0.9em;
		text-align: right;
		display: block;
		color: #7b7c80;
		/*visibility: hidden;*/
	}

	.form-request-inside .input-line{
		width: 100%;
		height: auto;
		position: relative;
		padding: 5px 0px 15px 0px;
	}

	.form-request-inside .input-line .input-title{
		width: 23%;
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
		font-size: 0.9em;
	}

	.form-request-inside .input-line .input-content{
		width: 77%;
		display: inline-block;
		vertical-align: top;
		font-size: 0.9em;
	}

	.form-request-inside button{
		width: 100%;
		height: auto;
		background-color: #872434;
		color: #fcfcfc;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 10px 30px;
		
	}

	.form-request-inside .input-line .input-content input, 
	.form-request-inside .input-line .input-content textarea{
		width: 100%;
		height: auto;
		background: none;
		border: none;
		padding: 15px;
		border: 1px solid #dfdfdf;
	}
	
	.form-request-inside .input-line .input-content input:focus + .input-help, 
	.form-request-inside .input-line .input-content textarea:focus + .input-help{
		/*display: block;*/
		visibility: visible;
		color: #ff0000;
	}

	.form-intro{
		width: 100%;
		height: auto;
		position: relative;
		margin-top: 30px;
		
	}

	.form-intro .container{
		/*background-color: #FFFFFF;*/
	}

	
	.div3{
		width: 33.3333%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation{
		margin: 0;
		padding: 0;
		text-align: center;
		margin-bottom: 120px;
		vertical-align: top;
	}

	.explanation i{
		margin: 20px;
		display: block;
	}

	.explanation .explanation-subject{
		font-size: 1.5em;
		font-weight: 700;
		padding-top: 5px;
		display: inline-block;
		/*display: block;*/
		
		border-top: 1px solid #872434;
	}

	.explanation .explanation-content{
		font-size: 1.2em;
		font-weight: 400;
		display: block;
		padding: 15px 0px;
	}









	.form .logo{
		height: 48px;
	}

	.form .wrapper{
		position: relative;
		overflow: hidden;
		/*margin-bottom: 25px;*/
	}
	.form .title{
		width: 100%;
		height: auto;
		position: relative;
		text-align: center;
		font-weight: 100;
		margin: 30px 0px;
		font-size: 14px;
	}

	.form .title .title_img{
		height: 100px;
		margin-bottom: 25px;
	}

	.div3{
		width: 33.3333%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.explanation{
		margin: 0;
		padding: 0;
		/*text-align: center;*/
		margin-bottom: 120px;
	}

	.explanation i{
		margin: 20px;
		display: block;
	}

	.explanation .explanation_subject{
		font-size: 18px;
		font-weight: 400;
		display: block;
		
	}

	.explanation .explanation_content{
		font-size: 16px;
		font-weight: 100;
		display: block;
		padding: 15px 0px;
	}

	.form .application{
		background-image: url('/img/form.jpg');
		background-size: cover;
		position: relative;
		z-index: 10;
	}

	.form .apply_form{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		color: #ccc;
		/*margin-top: -10px;
		margin-bottom: -10px;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		font-size: 16px;
		text-align: center;
		border: 2px solid #08c1ce;
	}

	.form .apply_form .apply_form_background{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		background-color: black;
		opacity: 0.5;
	}

	.form .apply_form .input_line{
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		z-index: 15;
		text-align: left;
	}

	.form .apply_form .input_line:first-child{
		margin-top: 100px;
	}

	.form .apply_form .input_line .input_title{
		float: left;
		width: 100px;
	}

	.form .apply_form .input_line .input_content{
		float: left;
		width: calc(100% - 100px);
	}

	.form .apply_form .input_line input{
		width: 100%;
		height: auto;
		background: none;
		border: none;
		color: #fff;
		font-size: 16px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	.form .apply_form .input_line textarea{
		width: 100%;
		height: auto;
		min-height: 200px;
		background: none;
		border: none;
		color: #fff;
		font-size: 16px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0px;
		margin: 0px;
		overflow-y: scroll;
	}

	.form .apply_form button{
		padding: 10px 15%;
		border: 1px solid white;
		border-radius: 2px;
		background: none;
		color: white;
		margin-bottom: 100px;
	}

	






	.admin-request-list {
		width: 100%;
		/*margin: 0px auto;*/
		/*border-collapse: separate;*/
		text-align: center;

	}

	/*.admin-request-list tr{
		padding: 5px 10px;
	}*/

	.admin-request-list th, .admin-request-list .admin-request-list-item {
		/*border-top: 1px solid #7b7c80;
		border-bottom: 1px solid #7b7c80;*/
		padding: 20px 20px;
		/*text-align: center;*/
		background-color: #f3f3f3;
		/*background-color: #f3fef5;*/
		position: relative;
		border: 1px solid #f0f0f0;
		border-radius: 1px;
		vertical-align: top;
		margin: 10px;
		display: inline-block;
		/*float: left;*/
		width: 100%;
		max-width: 400px;
		
	}

	.admin-request-list .admin-request-list-item-user{
		width: 100%;
		/*margin-right: 10%;*/
		/*height: 300px;*/
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin: 10px;
		margin-bottom: 30px;
		font-weight: 100;
	}
	
	.admin-request-list .admin-request-list-item-user .admin-request-list-item-user-school{
		width: 80%;
		margin: 10px 10%;
		max-width: 100px;
		position: relative;
		display: inline-block;
		/*height: 100px;*/
		background-size: auto 60%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #FFFFFF;
		border-radius: 50%;
		text-align: center;
	}

	
	.admin-request-list .admin-request-list-item-user .admin-request-list-item-user-school img{
		width: 100%;
	}

	.admin-request-list .admin-request-list-item-detail{
		width: 100%;
		/*height: 300px;*/
		display: inline-block;
		vertical-align: top;
		word-break: break-all;
		text-align: justify;
		position: relative;
	}

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-subject{
		display: block;
		font-weight: 700;
		color: #3d3d3d;
	}

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-file{
		display: inline-block;
		position: relative;
		width: 80%;
		height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
    	white-space: nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
		color: #231f20;
		text-decoration: none;
		vertical-align: middle;
	}

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-file img{
		height: 40px;
		vertical-align: middle;
		margin-right: 4px;
		/*display: inline-block;*/
	}

	
	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-text{
		display: inline-block;
		position: relative;
		width: 80%;
		min-height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
		color: #231f20;
		vertical-align: middle;
	}

	.admin-request-list-item-detail-management{
		position: absolute;
		right: 0px;
		top: 0px;
		display: none;
	}
	
	.admin-request-list-item-detail:hover > .admin-request-list-item-detail-management{
		display: block;
	}	

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-text img{
		height: 40px;
		vertical-align: middle;
		margin-right: 4px;
		/*display: inline-block;*/
	}

	.admin-request-list-item-detail-comment{
		display: inline-block;
		position: relative;
		width: 80%;
		min-height: 60px;
		/*text-align: center;*/
		padding: 10px;
		margin-bottom: 10px;

		/*border: 1px solid #231f20;*/
		background-color: #fcfcfc;
		border-radius: 1px;


		/*word-break: break-all;*/
		color: #231f20;
		vertical-align: middle;
	}

	.admin-request-list-item-detail-comment textarea{
		width: 100%;
		height: 100px;
		border: none;
		
	}	

	.admin-request-list .admin-request-list-item-detail .admin-request-list-item-detail-time{
		vertical-align: middle;
		font-size: 0.8em;
		display: inline-block;
		width: 20%;
		text-align: right;
	}



	.admin-request-list .admin-request-list-item-status{
		padding: 8px 33px 41px 16px;
		width: 0px;
		height: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		/*height: 50px;*/
		background-color: #73b290;
		color: #FFF;
		border-bottom-right-radius: 100%;
		text-align: center;
	}

/*
	.admin-request-list td, .admin-request-list th{
		border: 1px solid #7b7c80;
	}*/

	.admin-request-page{
		width: 100%;
		height: auto;
		text-align: center;
		display: block;
		margin-top: 24px;
		 

	}

	.admin-request-page a{
		padding: 5px 10px;
		border: 1px solid #7b7c80;
		text-decoration: none;
		color: #7b7c80;
	}
	.admin-request-page a.selected{
		color: #168046;
		/*border-color: #168046;*/
		border: 2px solid #168046;
		font-weight: 700;
	}












    .footer{
        width: 100%;
        height: auto;
        /*min-height: 300px;
        padding: 10px 0px;*/
		position: relative;
		text-align: center;
		background-color: #FFF;
		padding: 60px 0px 30px 0px;
    }

	.footer .fa{
		padding: 3px 10px;
		cursor: pointer;
		margin-bottom: 20px;
	}

	.footer a{
		color: #231f20;
	}

	.footer .footer-info{
		display: block;
		color: #7b7c80;
		font-size: 1em;
		margin: 8px;
	}

	

	.footer .footer-powered{
		font-size: 0.8em;
		color: #7b7c80;
		display: block;
		margin-top: 60px;
	}

	.footer .container{
        /*background-color: #fcfcfc;*/
		
	}

    .footer .div4{
        padding: 10px;
        padding-left: 0px;
    }

    .footer .footer-logo{
        
		width: auto;
		height: auto;
		display: inline-block;
		/*display: block;*/
		font-weight: 400;
		font-size: 2.6em;
		margin-bottom: 20px;
		cursor: pointer;
    }

    .footer .footer-menu .footer-menu-title{
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 16px;
        color: #231f20;
        
        margin-bottom: 15px;
        display: block;
    }

    .footer .footer-menu a{
        width: auto;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        text-decoration: none;
        color: #7b7c80;

        margin-bottom: 10px;
        display: block;
    }


    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        /*overflow: hidden;*/
        /*position:  relative;*/
    }

    pre,button,textarea{
        /*font-family: 'KBIZ', sans-serif;*/
        
    }

    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both; 
    }
    
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Firefox < 16 */
    @-moz-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Internet Explorer */
    @-ms-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Opera < 12.1 */
    @-o-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    
    @keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Firefox < 16 */
    @-moz-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
    /* Internet Explorer */
    @-ms-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Opera < 12.1 */
    @-o-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
}

@media screen and (max-width: 1280px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 25%;

    }

	

	.apply_form{
		width: 80%;
		height: auto;
	}
	.apply_form .input_line{
		margin: 40px 8%;
	}   

}

@media screen and (max-width: 640px){

	body{
		font-size: 16px;
	}
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
        
    }   

	.intro .intro-title{
		display: block;
	} 

	.intro .intro-content{
		display: none;
	} 

	.title{
		display: block;
	}

	.form-header .container{
		width: 100%;
		margin: 0;
		padding-top: 0px;
	}

	

	.form-header .container .form-header-top{
		padding-top: 15px;
		padding-bottom: 40px;

	}

	.form-header .container .form-header-top .form-header-title,
	.form-header .container .form-header-top .form-header-content{
		margin: 0px;
		padding: 0px;
		text-align: center;
		display: block;
	}

	/*.form-header .container .form-header-top > div,*/
	.form-header .container .form-header-top > span{
		background-color: rgba(255, 255, 255, 0.5);
	}

	.form-request-inside{
		width: 100%;
		height: auto;
		float: none;
		box-shadow: unset;
		margin: 0;
		border: none;
		
	}

	.form-request{
		display: none;
	}


	.form .apply_form .input_line{
		margin: 40px 2%;
	}


	
	.intro .intro-a4{
		width: 90%;
	}

	.school .school-item{
		width: 47%;
	}

    .div4{
        width: 50%;

    }



	.explanation{
		width: 100%;
		height: 150px;
		text-align: center;
	}

	.explanation .icon{
		width: 50px;
		height: auto;
		position: absolute;
		left: 0px;
		top: 0px;
	}


	.explanation .explanation_subject{
		width: calc(100% - 100px);
		height: auto;
		display: block;
		position: absolute;
		left: 100px;
		top: 10px;
		padding: 0px;
		margin: 0px;
		text-align: left;
	}
	.explanation .explanation_content{
		width: calc(100% - 100px);
		height: auto;
		display: block;
		position: absolute;
		left: 100px;
		top: 40px;
		padding: 0px;
		margin: 0px;
		text-align: left;

	}

}

@media screen and (max-width: 480px){

	body{
		font-size: 14px;
	}
	
    .container{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
    }    
	.school .school-item{
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}


    .div4{
        width: 50%;
    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1280px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 641px){
	
	.form-header .container .form-header-top{
		background: none !important;
	}

	body{
		/*font-size: 18px;*/
	}
	
}

@media screen and (min-width: 1280px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .div4{
        width: 25%;
    }

	
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}
