/* 초기화 setting */

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	/* font-size: 12px; */
	color: #545454;
	font-family: NotoSansCJKkr;
}

a {
	text-decoration: none;
	outline: none;
	color: #2C2C2C;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img {
	border: 0;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
}

h2 {
	padding: 0px 0px 30px 0px;
	font-size: 1.50em;
}

p,
ol,
ul {
	margin-top: 0px;
}

ul {
	padding-left: 40px;
}

p {
	line-height: 180%;
}

strong {
	color: #2C2C2C;
}

hr {
	display: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

select {
	cursor: pointer;
}

textarea {
	resize: none;
}

textarea:focus,
input:focus {
	outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/*
input.italic_style {
	font-style: italic;
}
*/

/** WRAPPER */

#wrapper {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	/* background: #fff; */
	/* background: #fafafa; */
}

.container {
	width: 100%;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

.invisible {
	display: none !important;
}

div.invisible {
	display: none;
}

input.invisible {
	display: none;
}


/** HEADER */

.header_wrap {
	width: 100%;
	/* background: #fff; */
	padding: 20px 0 40px;
}

header {
	width: 100%;
	max-width: 1280px;
	overflow: hidden;
	height: auto;
	margin: 20px auto 0;
	padding-left: 50px;
}


/* Logo */

#logo {
	float: left;
	width: 350px;
	/* padding-top:30px; */
	text-transform: uppercase;
}

#logo h1 a {
	display: inline-block;
	height: auto;
	text-decoration: none;
	/* font-size: 1.5em; */
	font-weight: 500;
	color: #000;
	padding: 5px;
	background:rgba(252,252,252,.5);
}

#logo p {
	display: block;
	margin-top: -10px;
	padding: 0px 0px 0px 0px;
	letter-spacing: 1px;
	font-size: 1.2em;
	color: #000;
}

#logo p a {
	color: #000;
}


/* Menu */

#menu {
	float: right;
	width: 700px;
	padding: 60px 50px 0px 0px;
}

#menu>div {
	float: right;
	/* margin: 0;
	padding: 0px 0px 0px 0px; */
	line-height: normal;
}

#menu a {
	display: inline-block;
	margin-left: 1px;
	padding: 7px 0px 7px 30px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	color: #000;
}

#menu a:hover,
#menu .current_page_item a {
	text-decoration: none;
	border-radius: 5px;
	color: #000;
}


/** PAGE */

#page {
	/* overflow: hidden; */
	width: 100%;
	/* max-width: 1048px; */
	margin: 0px auto;
	padding-bottom: 30px;
}

#page h2 {
	display: inline-block;
	/* display: table-cell; */
	word-break: keep-all;
	width: auto;
	font-size: 1.1em;
	font-weight: 500;
	color: #282828;
	/* vertical-align: middle; */
}


/** CONTENT */

#content {
	width: 100%;
}

#content .type_back {
	width: 100%;
	/* background: #fff; */
}

#content .type_back .type_wrap {
	width: 100%;
	/* max-width: 1048px; */
	max-width: 1280px;
	margin: 0 auto;
	/* display: table; */
}

#content form p {
	width: 100%;
	text-align: center;
}

#content form #form_type, #content form #level_chk {
	display: inline-block;
	width: auto;
	margin-left: 10px;
}

#content form label {
	display: inline-block;
	padding: 10px;
	text-align: center;
	border: 1px solid #7c7c7c;
	font-size: 1.1em;
	font-weight: 500;
	color: #7c7c7c;
	background: #fff;
	border-radius: 100px;
	margin-right: 10px;
}
#content form #form_type label {
	min-width: 80px;
}

#content form input[type='radio'] {
	display: none;
}

#content form input[type=radio]:checked+label {
	color: #fff;
	background: #168046;
	border: 1px solid #168046;
}

#content form .total_score.red_font {
	color: #168046;
}

#content button.red_btn {
	background: #168046;
	color: #fff;
	border: 1px solid #168046;
}

.textarea_wrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	/* margin-top: 26px; */
	padding: 40px 60px 20px;
	box-sizing: border-box;
	background: #fcfcfc;
	box-shadow: 0px 5px 20px #3d3d3d;
	border-top: 1px solid #168046;
	opacity: 0.9;
}

.textarea_wrap * {
	box-sizing: border-box;
}

#content textarea,
#content2 textarea,
#content2 #form_text {
	width: 100%;
	min-height: 270px;
	padding: 20px;
	font-family: inherit;
	font-size: 1em;
	background: transparent;
	border: none;
}


/** CONTENT2 */

#content2_wrap .type_back {
	background: #4e4e4e;
	color: #fff;
	padding: 14px 0;
	vertical-align: middle;
}

#content2_wrap .type_back .type_wrap {
	max-width: 1280px;
	text-align: left;
	margin: 0 auto;
}

#content2_wrap .type_back h2,
#content2_wrap .type_back span {
	color: #fff;
	display: inline-block;
	/* width:auto; */
}

#content2_wrap .type_back .type_wrap b {
	margin: 0 10px;
}

#content2_wrap .type_wrap>span:first-child {
	display: inline-block;
	width: auto;
	text-align: left;
	/* float: left; */
	font-size: 3em;
	cursor: pointer;
	margin-top: -3px;
}

#content2_wrap .type_wrap>span:first-child:hover {
	opacity: 0.8;
}

#content2_wrap p:last-child {
	width: 100%;
	text-align: center;
}

#content2_wrap p>textarea {
	display: inline-block;
	width: 100%;
	margin: 10px 0;
	padding: 20px;
}

#content2_wrap p button {
	width: 135px;
	margin: 10px;
}

#content2_wrap p button:last-child {
	color: #fff;
	background: #168046;
	border: 1px solid #168046;
}

#content2_wrap .content2_inner_wrap,
#content2_wrap .content3_inner_wrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 26px;
}

#content2_wrap .content2_table,
#content2_wrap .content3_table {
	display: table;
	width: 100%;
	height: 100%;
	/* max-height: 2000px; */
	/* max-height: 380px; */
	/* overflow-y: scroll; */
	border-collapse: separate;
}

#content2_wrap .content2_table {
	border-spacing: 20px 0;
}

#content2_wrap .content2_table #content2,
#content2_wrap .content2_table #sidebar {
	display: table-cell;
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	vertical-align: top;
}

#content2_wrap .content2_table #content2>form {
	height: 100%;
}

#content2_wrap .text_count {
	display: inline-block;
	width: 100%;
	font-size: 1em;
	font-weight: 300;
	color: #282828;
	padding-top: 40px;
}

#content2_wrap .text_count.mobile_ver {
	display: none;
}

#content2 form .question_type {
	font-size: 1.5em;
	margin-left: 10px;
	font-weight: bold;
	color: #000;
}

#content2 {
	/* width: 70%; */
	background: #fff;
	box-shadow: 0 2px 2px 0 rgba(212, 212, 212, 0.5);
}

#content2 .form_text_wrap {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

#content2 textarea,
#content2 #form_text {
	width: 100%;
	height: 100%;
	/* max-height: 2000px; */
	/* max-height: 380px; */
	overflow-y: auto;
	display: inline-block;
	margin: 0;
	padding: 10px;
	outline: none;
	text-align: left;
	font-size: 1.1em;
	z-index: 2;
	/*background-image: url('/img/topik_img/squared_paper.png');
	background-size: 100%;
	background-repeat: repeat-y;
	background-attachment: local; */
	/* background: transparent; */
	/*letter-spacing: 0.9em;
    text-indent: 0.5em;*/
	/* border:2px solid rgba(255, 0, 0, 0.5); */
}

::selection {
	background: rgba(255,255,0,0.5);
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: rgba(255,255,0,0.5);
	/* Gecko Browsers */
}

#content2 textarea,
#form_text span {
	display: inline-block;
	border: 1px solid rgba(255, 0, 0, 0.363);
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 6px 0;
	vertical-align: top;
	position: relative;
	/* z-index: 1; */
}

#content2 #form_text span.red_font,
.content3 #form_text span.red_font,
.wrong_sentence span.red_font,
.replace_sentence span.red_font {
	color: #ff5454;
	font-weight: bold;
	cursor: pointer;
}

.content3 #form_text span.red_font,
.wrong_sentence span.red_font,
.replace_sentence span.red_font {
	cursor: default;
}

#content2 .minus_point {
	/* border-radius: 3px;
	color: transparent;
	background:#b1d5e5; */
	display: inline-block;
	font-size: 0.8em;
	color: #168046;
	position: absolute;
	margin-top: -1.2em;
	white-space: nowrap;
}

#content form .text_count,
#content2 form .text_count {
	display: inline-block;
	font-size: 1em;
	padding-top: 20px;
	font-weight: 300;
	text-align: left;
	color: #3b3b3b;
}

#content2 .textarea_wrap {
	padding: 20px;
	margin-top: 0;
	box-shadow: none;
	height: 100%;
}

#content2 p {
	text-align: right;
	font-size: 1.5em;
	margin-top: 40px;
}

#content2 p>span:last-child {
	margin-left: 20px;
	font-size: 1.2em;
}

#content2 p span:last-child b:first-child {
	font-size: 1.5em;
	font-weight: bold;
}


/* content3 */

.content3_table .content3 {
	display: table-cell;
	width: 50%;
	height: 100%;
}


/* .content3_table #content_after {
	margin-left: 10px;
} */

.content3_table .content3 .before_after {
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	color: #4e4e4e;
	margin-bottom: 20px;
}

.content3_table .content3 .textarea_wrap {
	width: 100%;
	height: 100%;
	max-height: 380px;
	padding: 20px 10px;
	overflow: hidden;
	margin-top: 0;
}

.content3_table .content3 .form_text_wrap {
	width: 106%;
}

.content3_table .content3 #form_text {
	height: 100%;
	max-height: 380px;
	overflow-y: auto;
	display: inline-block;
	margin: 0;
	padding: 10px;
	padding-right: 20px;
	outline: none;
	text-align: left;
	font-size: 1.5em;
	z-index: 2;
}

.content3_inner_wrap>p {
	text-align: center;
}

.content3_inner_wrap #sidebar {
	display: inline-block;
	width: 100%;
	margin-left: 0;
	background: transparent;
	box-shadow: none;
}

.content3_inner_wrap #sidebar h2 {
	font-size: 2em !important;
	padding: 20px;
	padding-left: 0;
}

.content3_inner_wrap .style2 {
	/* text-align: center; */
	width: 100%;
	/* display: table; */
	/* table-layout: fixed; */
	/* border-collapse: separate; */
	/* border-spacing: 20px 0; */
	/* clear: both; */
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
	grid-gap: 0 3px;
	grid-template-rows: minmax(100px, auto); */
	/* grid-auto-flow: column; */
	/* display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px; */
	margin-left: 0;
	max-height: none;
}

.content3_inner_wrap .style2 table * {
	word-break: keep-all;
	vertical-align: top;
}

.content3_inner_wrap .style2 table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;
}

.content3_inner_wrap .style2 .print_sentence {
	border: 3px double #979797;
	border-collapse: collapse;
	/* word-break: normal; */
}

.content3_inner_wrap .style2 .print_sentence div {
	/* display:none; */
	position: relative;
	left: 0;
}

.content3_inner_wrap .style2 .print_sentence tr {
	border-bottom: 1px solid #eee;
}

.content3_inner_wrap .style2 .print_sentence td:first-child {
	width: 20%;
}

.content3_inner_wrap .style2 .print_help_content th {
	background: rgba(0, 0, 0, 0.1);
	/* padding: 10px; */
	width: 20%;
}

.content3_inner_wrap .style2 table td {
	padding: 10px;
}

.content3_inner_wrap .style2 table td * {
	word-break: normal;
	display: inline-table;
}

.content3_inner_wrap .style2 .print_help_content th>span {
	display: table-cell;
	padding: 10px;
}

.content3_inner_wrap .style2 .print_help_content tr:first-child td {
	background: rgba(0, 0, 0, 0.03);
	padding: 10px;
}

.content3_inner_wrap .style2 .print_help_content td {
	padding: 5px 10px;
}

.content3_inner_wrap .style2 .print_help_content span:nth-child(2) {
	margin-left: 20px;
	font-size: 1.2em;
}

.content3_inner_wrap .style2 table a {
	text-decoration: underline;
	color: #1875cf;
}

.content3_inner_wrap .style2 .help_content .has_btn {
	display: none;
}


/** SIDEBAR */

#sidebar {
	/* float: right; */
	width: auto;
	margin-left: 20px;
	margin-top: 26px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 2px 2px 0 rgba(212, 212, 212, 0.5);
	box-sizing: border-box;
}

#sidebar .result_content .result_submit {
	/* display:none; */
	opacity: 0;
}

#sidebar #tbox1 {
	width: 100%;
	/* overflow: hidden; */
}


/* List style 2 */

.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 106%;
	/* max-height: 2000px; */
	/* max-height: 380px; */
	overflow-y: auto;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
}

.style2 div {
	/* padding: 25px 0px 15px 0px; */
	/* border-bottom: 1px solid #DEDEDE; */
	margin-bottom: 20px;
	padding-right: 20px;
}

.style2 ul li {
	display: table;
	padding-bottom: 10px;
	width: 100%;
}

.style2 ul li:first-child span:last-child {
	color: #ff5454;
	font-weight: bold;
}

.style2 ul li>span {
	/* display: inline-block; */
	display: table-cell;
}

.style2 ul li>span:first-child {
	word-break: keep-all;
}

.style2 ul li input,
.style2 ul li textarea,
.style2 ul li select {
	/* display:inline-block; */
	display: table-cell;
	width: 100%;
	font-family: inherit;
	padding: 3px;
	border: 1px solid #dadada;
	border-radius: 3px;
	font-size: 1.1em;
}

.style2 ul li input:focus,
.style2 ul li textarea:focus,
.style2 ul li select:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 4px #9ecaed;
}

.style2 ul li:first-child input {
	color: #168046;
}

.style2 ul li input[type='number'] {
	/* width:20%; */
}

.style2 ul li span:first-child {
	font-weight: bold;
	min-width: 42px;
	vertical-align: top;
}

.style2 ul li span:last-child {
	width: 100%;
}

.style2 ul li.has_btn {
	display: inline-block;
	width: 100%;
	text-align: right;
}

.style2 ul li.has_btn button {
	background: #fff;
	padding: 0 5px;
	margin: 0 5px;
}

.style2 ul li a {
	font-weight: bold;
	color: #1875cf;
}

.style2 a:hover {
	text-decoration: underline;
}

.style2 ul li:last-child {
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	border-top: 1px solid #F2F2F2;
	text-align: right;
}

.style2 ul li .user_msg {
	width: 88%;
	vertical-align: bottom;
}

.style2 ul li .user_btn {
	/* width: 10%; */
	padding: 3px;
	border: 1px solid #eee;
	border-radius: 3px;
	display: table-cell;
	margin-left: 5px;
}

.style2 ul li .user_btn:hover {
	background: rgba(0, 0, 0, 0.03);
}


/* Footer */

footer {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0px;
	padding-top: 0;
	text-transform: uppercase;
}

footer p {
	text-align: center;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	color: #363636;
}

footer p:last-child {
	text-align: right;
}

footer p:last-child button {
	padding: 7px 10px;
	font-size: 1em;
}

footer a {
	color: #168046;
}


/* Button Style 1 */

.button-style {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 100px;
	text-decoration: none;
	text-transform: uppercase;
	color: #3b3b3b;
	border: 1px solid #3b3b3b;
	font-size: 1.2em;
	font-weight: 500;
}


/* popup */

.popup {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(7, 7, 7, 0.5);
}

.popup.invisible {
	display: none;
}

.popup-inner {
	max-width: 700px;
	width: 90%;
	/* padding:40px; */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
	border-radius: 3px;
	background: #fff;
}

.popup-inner h2 {
	padding: 20px 28px;
	background: #3b3b3b;
	color: #fff;
	font-weight: 400;
}

.popup-inner form {
	width: 100%;
	padding: 28px;
	padding-bottom: 18px;
	background: #eee;
	box-sizing: border-box;
}

.popup-inner form * {
	box-sizing: border-box;
}

.popup-inner input {
	display: inline-block;
	width: 80%;
	/* margin:10px; */
	padding: 15px;
	margin-left: 15px;
	font-size: 1.1em;
	/* font-weight: bold; */
	text-align: left;
	border: none;
	background: transparent;
}

.popup-inner textarea {
	width: 100%;
	height: 200px;
	margin: 10px 0;
	font-family: inherit;
	font-size: 1.2em;
	padding: 20px;
	background: #fff;
	border: none;
	line-height: 1.5em;
}

.popup-inner form span {
	display: inline-block;
	width: 100%;
	background: #fff;
	padding-left: 20px;
}

.popup-inner form span::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.popup-inner form span i {
	font-weight: bold;
	transform: scale(1, 0.95);
}

.popup-inner form p {
	width: 100%;
	text-align: right;
}

.popup-inner form p button {
	display: inline-block;
	/* width:60px; */
	margin: 10px 10px 0 0;
	padding: 0 10px;
	background: transparent;
	color: #707070;
	font-size: 1.2em;
	font-weight: bold;
}

.popup-inner form p button:last-child {
	color: #ff5454;
}

a.popup-close {
	display: inline-block;
	float: right;
	font-size: 1.2em;
	text-align: center;
	color: #fff;
	-webkit-transition: ease 0.25s all;
	-moz-transition: ease 0.25s all;
	transition: ease 0.25s all;
}

a.popup-close:hover {
	/* background: rgba(0, 0, 0, 1); */
	opacity: 0.8;
}

@media all {
	.page-break {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	header {
		padding-left: 20px;
	}
	.type_back .type_wrap {
		padding: 0 10px;
	}
	.textarea_wrap {
		padding: 20px;
	}
	#content2_wrap .content2_table {
		border-spacing: 8px 0;
	}
	#content2_wrap .content2_table #content2,
	#content2_wrap .content2_table #sidebar {
		padding: 5px;
	}
	#content2_wrap .content3_table {
		border-spacing: 10px 20px;
	}
	.content3_table .content3 {
		width: 100%;
		display: table-row;
	}
	.content3_table .content3 .form_text_wrap {
		width: 100%;
	}
	.content3_inner_wrap>p {
		margin-top: -30px;
	}
	.content3_inner_wrap #sidebar {
		margin-top: 0;
	}
	#content2 textarea,
	#content2 #form_text {
		user-select: auto;
		-webkit-user-select: auto;
		-moz-user-select: -moz-auto;
		-ms-user-select: auto;
	}
}

@media screen and (max-width: 480px) {
	#page h2 {
		padding-bottom: 10px;
	}
	#content form #form_type label {
		width: auto;
		min-width: auto;
	}
	#content2 .textarea_wrap {
		padding: 10px;
	}
	#content2_wrap .content2_table,
	#content2_wrap .content3_table {
		border-spacing: 0 8px;
		width: 95%;
		margin: 0 auto;
	}
	#content2_wrap .content2_table #content2,
	#content2_wrap .content2_table #sidebar {
		display: table-row;
	}
	#content2_wrap .text_count {
		display: none;
	}
	#content2_wrap .content2_table .mobile_ver {
		display: inline-block;
		padding: 10px 0 20px;
	}
	.style2 {
		width: 100%;
	}
	.style2 div {
		padding: 20px;
		border-spacing: 8px 0;
	}
	#content_after .before_after {
		margin-top: 25px;
	}
}

@media print {
	@page {
		size: 21cm 29.7cm;
		/*margin: 1.2cm; */
		/* margin:2cm; */
		page-break-before: always;
		counter-increment: page;
	}
	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	html,
	body {
		font-family: "바탕" serif;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-size: 80%;
	}
	body {
		widows: 3;
		orphans: 3;
	}
	.no-print,
	no-pring * {
		display: none !important;
	}
	header {
		margin: 0;
		padding: 0;
	}
	table {
		page-break-after: avoid !important;
		page-break-inside: avoid !important;
		width: 100%;
		overflow: hidden;
	}
	tr,
	td,
	th,
	tbody,
	thead,
	tfoot,
	span {
		page-break-inside: avoid !important;
		page-break-after: avoid !important;
		overflow: hidden;
	}
	#content2_wrap .content3_inner_wrap {
		margin-top: 0;
	}
	#content2_wrap .content3_table {
		border-spacing: 0;
	}
	.content3_table .content3 {
		display: inline;
	}
	.content3_table .content3 .textarea_wrap {
		max-height: none;
		width: 100%;
		padding: 0;
		margin: 0 auto;
		border: 1px solid #eee;
		box-shadow: none;
	}
	.content3_table .content3 #form_text {
		width: 95%;
		max-height: none;
		margin-right: 10px;
		margin: 0 auto;
		/* orphans: 5;
		widows: 5; */
		page-break-after: avoid;
		page-break-before: avoid;
		/* padding-right: 10px; */
		/* page-break-after: always; */
	}
	#content2 textarea,
	#form_text span {
		border: none;
		width: auto;
		height: auto;
	}
	#content_after>span {
		margin-top: 30px;
	}
	#sidebar {
		display: block;
		margin-top: 0;
		/* page-break-before: always; */
	}
	.content3_inner_wrap #sidebar h2 {
		padding: 20px 0;
		padding-top: 0;
		display: inline-block;
		page-break-before: always;
	}
	.content3_inner_wrap .style2 .print_help_content {
		padding: 0;
		/* display: block; */
		/* page-break-after: always; */
	}
	.content3_inner_wrap .style2 table {
		/* border: 1px solid #eee; */
		vertical-align: top;
		page-break-inside: auto;
		-webkit-print-color-adjust: exact;
	}
	.content3_inner_wrap .style2 table tr {
		page-break-inside: avoid;
	}
	.content3_inner_wrap .style2 .print_help_content tr:first-child {
		border: 1px solid #eee;
	}
	.content3_inner_wrap .style2 .print_help_content th {
		background: #c0c0c0;
		width: 30%;
	}
	.content3_inner_wrap .style2 .print_sentence td:first-child {
		width: 30%;
	}
	.content3_inner_wrap .style2 table th span:first-child {
		font-weight: 400;
	}
	.content3_inner_wrap .style2 .print_help_content tr:first-child td {
		background: #eee;
	}
	.page-break {
		display: block;
		page-break-before: always;
	}
}



.global_loading {
	width: 100%;
	height: 100%;
	position: fixed;
	/*background-color: rgba(0,0,0,.25);*/
	z-index: 1500;
}

.mask-loading {
	widows: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .75);
}
/*
.spinner {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	top: 50%;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
*/

#floatingCirclesG {
	position: relative;
	width: 125px;
	height: 125px;
	margin: 0 auto;
	top: 43%;
	transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
}

.f_circleG {
	position: absolute;
	background-color: rgb(255, 255, 255);
	height: 22px;
	width: 22px;
	border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	animation-name: f_fadeG;
	-o-animation-name: f_fadeG;
	-ms-animation-name: f_fadeG;
	-webkit-animation-name: f_fadeG;
	-moz-animation-name: f_fadeG;
	animation-duration: 1.2s;
	-o-animation-duration: 1.2s;
	-ms-animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;
	-moz-animation-duration: 1.2s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-direction: normal;
	-o-animation-direction: normal;
	-ms-animation-direction: normal;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
}

#frotateG_01 {
	background-color: rgba(0, 0, 0,0.5);	
	left: 0;
	top: 51px;
	animation-delay: 0.45s;
	-o-animation-delay: 0.45s;
	-ms-animation-delay: 0.45s;
	-webkit-animation-delay: 0.45s;
	-moz-animation-delay: 0.45s;
}

#frotateG_02 {
	left: 15px;
	top: 15px;
	animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
}

#frotateG_03 {
	left: 51px;
	top: 0;
	animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	-ms-animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
}

#frotateG_04 {
	right: 15px;
	top: 15px;
	animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
}

#frotateG_05 {
	right: 0;
	top: 51px;
	animation-delay: 1.05s;
	-o-animation-delay: 1.05s;
	-ms-animation-delay: 1.05s;
	-webkit-animation-delay: 1.05s;
	-moz-animation-delay: 1.05s;
}

#frotateG_06 {
	right: 15px;
	bottom: 15px;
	animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
}

#frotateG_07 {
	left: 51px;
	bottom: 0;
	animation-delay: 1.35s;
	-o-animation-delay: 1.35s;
	-ms-animation-delay: 1.35s;
	-webkit-animation-delay: 1.35s;
	-moz-animation-delay: 1.35s;
}

#frotateG_08 {
	left: 15px;
	bottom: 15px;
	animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
}

@keyframes f_fadeG {
	0% {
		background-color: rgb(0, 0, 0);
	}
	100% {
		background-color: rgb(255, 255, 255);
	}
}

@-o-keyframes f_fadeG {
	0% {
		background-color: rgb(0, 0, 0);
	}
	100% {
		background-color: rgb(255, 255, 255);
	}
}

@-ms-keyframes f_fadeG {
	0% {
		background-color: rgb(0, 0, 0);
	}
	100% {
		background-color: rgb(255, 255, 255);
	}
}

@-webkit-keyframes f_fadeG {
	0% {
		background-color: rgb(0, 0, 0);
	}
	100% {
		background-color: rgb(255, 255, 255);
	}
}

@-moz-keyframes f_fadeG {
	0% {
		background-color: rgb(0, 0, 0);
	}
	100% {
		background-color: rgb(255, 255, 255);
	}
}