@media screen {
        .search_box {
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                position: relative;
                margin-top: 2em;
                margin-bottom: 1em;
                overflow: hidden;
        }
        .search_box form.search {
                /* float: right; */
                display: inline-block;
                width: 100%;
                height: 100%;                
        }
        .search_box form.search > input {
                padding: 10px; 
                height: 44px; 
                width: 100%;
                max-width: 320px;
                line-height: 20px; 
                box-sizing: border-box; 
                color: #292929; 
                border: 2px solid #d6d6d6;
                font-size: 0.9em;
                background: transparent;
                float: right;
        }
        .search_box form.search > input::-webkit-input-placeholder {
                color: rgba(0,0,0,0.3);
        }
 
        .search_box form.search > input::-moz-placeholder { /* Firefox 18- */
                color: rgba(0,0,0,0.3); 
        }
 
        .search_box form.search > input::-moz-placeholder {  /* Firefox 19+ */
                color: rgba(0,0,0,0.3);
        }
 
        .search_box form.search > input::-ms-input-placeholder {  
                color: rgba(0,0,0,0.3);
        }
        .search_box .icon{
                position: absolute;
                right:0;
                padding: 0.8em;
                /*margin-right: 17px;
                margin-top: 17px;*/
                z-index: 1;
                color: #fff;
                background:#bcbcbc;
                cursor: pointer;
                border:none;
                height: 44px;
                width:44px;
        }        
        .search_box .icon:hover .fa {
                opacity: 0.8;
                -webkit-transform:scale(1.5); /* Safari and Chrome */
                -moz-transform:scale(1.5); /* Firefox */
                -ms-transform:scale(1.5); /* IE 9 */
                -o-transform:scale(1.5); /* Opera */
                transform:scale(1.5);
        }
	.search_box form.search > input:focus, .search_box form.search > input:hover, .search_box form.search > input:active {
                outline: none;  
                background-color: #fff;
                box-shadow: 0 0 5px  rgba(22, 128, 70, 1);
                border: 1px solid rgb(22, 128, 69);
        }
}

@media screen and (max-width: 640px) {
        .search_box {
                white-space: nowrap;
                /* position: relative; */
                margin: 0 auto;
                margin-top: 2em;
                margin-bottom: 1em;
                overflow: hidden;
        }
        .search_box form.search {
                text-align: center;
        }
        .search_box form.search {
                margin:0 auto;
                text-align: center;
        }
        .search_box form.search > input {
                padding: 10px; 
                height: 44px; 
                width: 70%;
                max-width: none;
                float: none;
                outline: none;
        }
        .search_box form.search > input:focus, .search_box form.search > input:hover, .search_box form.search > input:active {
                box-shadow:0 0 0 #fff;
                border: 2px solid #d6d6d6;
        }
        .search_box .icon{
                padding: 0.8em;
                z-index: 1;
                color: #fff;
                background:#bcbcbc;
                cursor: pointer;
                border:none;
                height: 44px;
                width:44px;
                right: 15%;
        } 
}