<div class="grid">
    <div id="quiz">
        <h1>Quiz</h1>

        <!--문제-->
        <p id="question"></p>

        <!--주관식 답-->
        <div class="short-answer"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></div>

        <!--답 버튼-->
        <div class="buttons">
            <button id="choice0"></button>
            <button id="choice1"></button>
        </div>
    </div>

    <!--진행 바-->
    <div class="progress_bar">
        <!--<div id="progress">Question x of y</div>-->
        <div id="progress"></div>
    </div>
</div>

<!--정답,오답 알림-->
<div class="alertwrap">
    <div class="alertPop">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <h2>정답입니다. <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h2>
        <p>오류가 있어요. <i class="fa fa-envelope" aria-hidden="true"></i></p>
        <textarea></textarea>
        <button id="errorS" type="submit">제출</button>
    </div>
</div>

<!--메일 창(쿠폰)-->
<div class="usermail">
    <div class="userCP">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <h2><span>메일로 쿠폰을 쏩니다!</span></h2>
        <input type="email" value name="EMAIL" placeholder="email address" />
        <button id="CPmail" type="submit">제 출</button>
    </div>
</div>

<!--<script type="text/javascript" rel="javascript" src="/js/b_questions.js"></script>-->