<div class="step-now">
	<span style="font-weight: 700;">声明<br /></span>
	<span>我们的工作包括<br /></span>
	<span>•	改正拼写，语法和标点错误<br /></span>
	<span>•	检查句法，时态和词形变化的问题<br /></span>
	<span>•	去除不恰当的语言和质量不高的用词<br /></span>
	<span>•	根据需要使文章符合报告主题风格<br /></span>
	<span>•	所有更改都保留历史记录以便您核准 or 根据你的稿件，量身为你提供合适的写作建议。<br /><br /><br /></span>
	<span style="font-weight: 700;">我们的工作不包括<br /></span>
	<span>•	对原稿进行排版，遵循某种样式表或字数更改<br /></span>
	<span>•	编辑内容<br /></span>
	<span>•	对参考文献进行核实，编辑或编排<br /></span>
	<span>•	对原稿任何部分进行撰写，重写或释义<br /><br /><br /></span>
	<span style="font-weight: 700;">免责声明<br /></span>
	<span>1. 本项目以帮助外国留学生提高韩语实力和拿到‘与努力相符的学分’为目的，决不代写报告，望同学们自觉，自立。<br /></span>
	<span>2. 上述价格和时间仅为 5月31日前的 试行基准，我们将通过分析试行阶段的反馈，确凿正式运营的价格，届时，将提前通知大家。<br /></span>
	<span>3. 此项目目前为试运营阶段，为了日后给大家提供更优质的服务，现在做的属实是赔钱的买卖，有诸多不足之处，还望大家宽容地给予谅解。并为了和大家一起呵护这个虽刚刚起步但对大家受益匪浅的项目，我们随时随地等待您宝贵的意见，谢谢！<br /></span>
	<button type="button" class="popup-next">알겠습니다.</button>
</div>