<div class="step-now">
	<form class="form-auth">
		<input class="auth-school_id" type="hidden" name="school_id" value="" />
		<!-- <span class="popup-title">학생 인증<i class="fa fa-times" aria-hidden="true"></i></span> -->
		<span class="popup-title">이메일 인증<i class="fa fa-times" aria-hidden="true"></i></span>
		<div class="popup-content">
			<!-- 의뢰하는 분이 해당학교 학생임을 증명하기 위해 학교별로<br /> 제공되는 이메일로 인증을 합니다. -->
			baogao의 모든 서비스를 이용하기 위해서는 이메일을 인증해야 합니다.
			<!-- 为了认证您为学生的身份，<br /> 请使用您的学校邮箱进行验证。 -->
			<!-- <span class="popup-subTitle">교열 후 연락받을 이메일: </span> -->
			<span class="popup-subTitle">이메일: </span>
			<input class="auth-user_email popup-input-text" type="email" name="user_email" value="" disabled />

			<!-- <span class="popup-subTitle">학생임을 인증할 학교 이메일: </span> -->
			<span class="popup-subTitle">이메일을 한번 더 입력하세요: </span>
			<input class="auth-school_email popup-input-text" type="email" name="school_email" value="" />
			<!-- <br /><button class="popup-button" type="submit">인증 시작</button> -->
			<br /><button class="popup-button" type="submit">认证开始</button>
		</div>
	</form>
</div>
<div class="step-right">
	<div class="form-auth">
		<!-- <span class="popup-title">학생 인증<i class="fa fa-times" aria-hidden="true"></i></span> -->
		<span class="popup-title">이메일 인증<i class="fa fa-times" aria-hidden="true"></i></span>
		<div class="popup-content">
			입력하신 이메일로 인증 링크를 발송하였습니다.<br />인증 완료 후 모든 서비스를 이용할 수 있습니다.
			<br /><button class="popup-button popup-prev" type="button" style="background-color: transparent;">이메일 다시 입력</button>
		</div>
	</div>
</div>