<div class="howtoUse" style="border-radius:0; border:none; border-top:3px solid #168046; padding:20px; padding-bottom:0; max-width:370px">
	<span class="close"></span>
	<h3>information</h3>
	<span><img src="/img/baogao_green.png" alt="baogao_logo"></span>
	<h1>견적 조정 안내</h1>
	<h2>2018년 3월 1일부터</h2>
	<div>
		<p>baogao 교열서비스를<br>이용해주시는 고객님께<br>진심으로 감사드립니다.</p>
		<div>
			<span>당사는 저렴한 비용으로 최고의 교열서비스를<br>제공하기 위해 노력하였으나,<br>인건비 상승 등으로 부득이하게</span>
			<span class="point_span">2018년 3월 1일부터 견적 비용을 인상</span>
			<span>하게 되었음을 안내 드립니다.</span>
		</div>
		<p>앞으로도 baogao는 최고의 교열서비스를<br>제공할 수 있도록 최선을 다하겠습니다.<br>감사합니다.</p>
		<span><img src="/img/baogao_green.png" alt="baogao_logo"></span>
	</div>
	<div class="popup-close">
		<input type="checkbox" id="pop-day" />
		<label for="pop-day">今天不再弹出</label>
		<button class="popup-button" type="button">CLOSE</button>
	</div>
</div>