<div class="step-now" style="max-width: 500px;">

	<form class="form-auth mypage-password">
		<!-- <span class="popup-title">비밀번호 변경<i class="fa fa-times" aria-hidden="true"></i></span> -->
		<span class="popup-title">变更密码<i class="fa fa-times" aria-hidden="true"></i></span>
		<div class="popup-content">

			<!-- <span class="popup-subTitle">현재 비밀번호: </span> -->
			<span class="popup-subTitle">现密码: </span>
			<input class="popup-input-text" id="old_password" type="password" value="" style="width: 100%;"/>
			<!-- <span class="popup-subTitle">새로운 비밀번호: </span> -->
			<span class="popup-subTitle">新密码: </span>
			<input class="popup-input-text" id="new_password1" type="password" value="" style="width: 100%;"/>
			<!-- <span class="popup-subTitle">다시 입력: </span> -->
			<span class="popup-subTitle">重新输入: </span>
			<input class="popup-input-text" id="new_password2" type="password" value="" style="width: 100%;"/>
			<!-- <button class="popup-button" type="submit">변경</button> -->
			<button class="popup-button" type="submit">变更</button>
		</div>
		<!-- <div class="mypage-password-line">
			<div class="mypage-password-line-subject">현재 비밀번호: </div>
			<div class="mypage-password-line-input">
				<input type="text" id="old_password" />
			</div>
		</div>

		<div class="mypage-password-line">
			<div class="mypage-password-line-subject">새로운 비밀번호: </div>
			<div class="mypage-password-line-input">
				<input type="text" id="new_password1" />
			</div>
		</div>
		<div class="mypage-password-line">
			<div class="mypage-password-line-subject">다시 입력: </div>
			<div class="mypage-password-line-input">
				<input type="text" id="new_password2" />
			</div>
		</div> -->
	</form>
</div>
<div class="step-right" style="max-width: 500px;">
	
		<div class="form-auth">
			<!-- <span class="popup-title">비밀번호 변경<i class="fa fa-times" aria-hidden="true" onclick="location.href='/';"></i></span> -->
			<span class="popup-title">变更密码<i class="fa fa-times" aria-hidden="true" onclick="location.href='/';"></i></span>
			<div class="popup-content">
					
				<!-- <span class="popup-subTitle">변경이 완료되었습니다.</span> -->
				<span class="popup-subTitle">变更完成</span>
				<!-- <button class="popup-button" type="button" onclick="location.href='/';">완료</button> -->
				<button class="popup-button" type="button" onclick="location.href='/';">完成</button>
			</div>
		</div>
</div>