<div class="event_list" style="border-radius:0; border:none; border-top:3px solid #168046; padding:20px; padding-bottom:0; max-width:370px">
	<span class="close"><i class="ion-close-round"></i></span>
	<h3>中奖者发表</h3>
	<div class="popup-subTitle">
		<h4>恭喜您获得饮品券一份！</h4>
		<div class="event-winner-wrap event-table-wrap">
			<div class="event-table-row">
				<span>姓名</span>
				<span>手机号码</span>
			</div>
			<div class="event-table-row">
				<span>진흔아</span>
				<span>010-****-0116</span>
			</div>
			<div class="event-table-row">
				<span>JIA YUXIN</span>
				<span>010-****-9515</span>
			</div>
			<div class="event-table-row">
				<span>RENSIZHE</span>
				<span>010-****-6972</span>
			</div>
			<div class="event-table-row">
				<span>증유건</span>
				<span>010-****-6505</span>
			</div>
			<div class="event-table-row">
				<span>XURUI</span>
				<span>010-****-3256</span>
			</div>
			<div class="event-table-row">
				<span>관기기</span>
				<span>010-****-0465</span>
			</div>
			<div class="event-table-row">
				<span>万雯雯</span>
				<span>010-****-5220</span>
			</div>
			<div class="event-table-row">
				<span>SUXIN</span>
				<span>010-****-8709</span>
			</div>
			<div class="event-table-row">
				<span>량신</span>
				<span>010-****-0579</span>
			</div>
			<div class="event-table-row">
				<span>阮佳平</span>
				<span>010-****-0316</span>
			</div>
			<div class="event-table-row">
				<span>HUYUWEI</span>
				<span>010-****-2524</span>
			</div>
			<div class="event-table-row">
				<span>근정</span>
				<span>010-****-6002</span>
			</div>
			<div class="event-table-row">
				<span>吴佩佩</span>
				<span>010-****-9199</span>
			</div>
			<div class="event-table-row">
				<span>肖雅妮</span>
				<span>010-****-5863</span>
			</div>
			<div class="event-table-row">
				<span>채욱신</span>
				<span>010-****-0122</span>
			</div>
			<div class="event-table-row">
				<span>彭稔玲</span>
				<span>010-****-7148</span>
			</div>
			<div class="event-table-row">
				<span>张萌</span>
				<span>010-****-1519</span>
			</div>
			<div class="event-table-row">
				<span>王浩腾</span>
				<span>010-****-0625</span>
			</div>
			<div class="event-table-row">
				<span>王源铄</span>
				<span>010-****-7552</span>
			</div>
			<div class="event-table-row">
				<span>吴媛媛</span>
				<span>010-****-1210</span>
			</div>
			<div class="event-table-row">
				<span>王海钰</span>
				<span>010-****-6054</span>
			</div>
			<div class="event-table-row">
				<span>赵诗涵</span>
				<span>010-****-3499</span>
			</div>
			<div class="event-table-row">
				<span>郭祥</span>
				<span>010-****-1016</span>
			</div>
			<div class="event-table-row">
				<span>肖定睿</span>
				<span>010-****-3989</span>
			</div>
			<div class="event-table-row">
				<span>방지호</span>
				<span>010-****-7866</span>
			</div>
		</div>
	</div>
	<div class="statement">
		<span>※ 我们会将奖券个别发送给中奖者。</span>
	</div>
	<div class="popup-close">
		<input type="checkbox" id="pop-day" />
		<label for="pop-day">今天不再弹出</label>
		<button class="popup-button" type="button">CLOSE</button>
	</div>
</div>