<div class="howtoUse" style="border-radius:0; border:none; border-top:3px solid #168046; padding:20px; padding-bottom:0; max-width:370px">
	<span class="close"></span>
	<h3>声明</h3>
	<ul class="popup-subTitle">我们的工作包括
		<li>改正拼写、语法和标点错误。</li>
		<li>检查句法、时态和词形变化的问题。</li>
		<li>去除不恰当的语言和质量不高的用词。</li>
		<li>根据需要使文章符合报告主题风格。</li>
		<li>所有更改都保留历史记录以便您核准 or 根据你的稿件，量身为你提供合适的写作建议。</li>
	</ul>
	<ul class="popup-subTitle">我们的工作不包括
		<li>对原稿进行排版，遵循某种样式表或字数更改。</li>
		<li>编辑内容。</li>
		<li>对参考文献进行核实、编辑或编排。</li>
		<li>对原稿任何部分进行撰写、重写或释义。</li>
	</ul>
	<ol class="statement">
		<h4>免责声明</h4>
		<li>本项目以帮助外国留学生提高韩语实力和拿到‘与努力相符的学分’为目的，决不代写报告，望同学们自觉，自立。</li>
		<li>上述价格和时间仅为 5月31日前的 试行基准，我们将通过分析试行阶段的反馈，确凿正式运营的价格，届时，将提前通知大家。</li>
		<li>此项目目前为试运营阶段，为了日后给大家提供更优质的服务，现在做的属实是赔钱的买卖，有诸多不足之处，还望大家宽容地给予谅解。并为了和大家一起呵护这个虽刚刚起步但对大家受益匪浅的项目，我们随时随地等待您宝贵的意见，谢谢！
		</li>
	</ol>
	<div class="popup-close">
		<input type="checkbox" id="pop-day" />
		<label for="pop-day">今天不再弹出</label>
		<button class="popup-button" type="button">CLOSE</button>
	</div>
</div>