<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="theme-color" content="#08C1CE">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>CICÉRON</title>
		<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>-->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!--<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>-->
        <!--<link rel="stylesheet" type="text/css" media="all" href="css/jquery-ui.css">-->
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
        <link rel="stylesheet" type="text/css" media="all" href="/css/baogao.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body>
		<form>
			<input type="text" name="name"/>
			<input type="password" name="password"/>
		</form>




		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!--<script src="/js/lib/jquery.ddslick.min.js"></script>
        <script src="/js/lib/i18n.js"></script>
        <script src="/js/lib/divhelper.js"></script>-->
        <script src="/js/global.js"></script>
        <script src="/js/<%= filename %>.js"></script>
    </body>
    
</html>