<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<!--<meta name="theme-color" content="#08C1CE">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">


	<title>baogao</title>
	<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->

	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/baogao.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script>
		var adminEmail = "<%- req.user.emails[0].value %>";
	</script>
</head>

<body style="overflow: hidden;">
	<%
			console.log(req.user);
			var statusColor = ["#f57a82", "#f5ec7a", "#7ac0f5", "#7b7c80"]
			var prettyDate = function(date){
				if (date === undefined || date == null) {
					return null;
				}

				var d = new Date();

				diff = d - date;
				diff /= 1000;
			
				if(diff < 60){
					result = diff + "초 전";
				}
				else if(diff < 3600){
					result = parseInt(diff / 60) + "분 전";
				}
				else if(diff < 86400){
					result = parseInt(diff / 3600) + "시간 전";
				}
				else if(diff < 604800){
					result = parseInt(diff / 86400) + "일 전";
				}
				else{
					result = d.toLocaleDateString("ko-KR");
				}
				
				return result;
			}
		%>

		<!--<div class="container" style="height: 100%;">-->
		<!--<a href="#" onclick="history.back();" style="margin-bottom: 60px; display: inline-block;">&lt;&lt;이전 페이지로 돌아가기</a><br />-->
		<div class="ar-logo">
			<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
			<img src="/img/baogao_green.png" />
		</div>
		<div class="ar-list selected">
			<!--<% param.request.data.forEach(function(item1) { %>
					<div class="ar-list-item">
						<div class="ar-list-item-status" style="background-color:<%= statusColor[item1.status] %>"></div>
						<div class="ar-list-item-detail">
							<span class="ar-list-item-detail-text"><%= item1.id %>. <%= item1.name %></span>
							<span class="ar-list-item-detail-text"><%= item1.file.split("/").pop() %></span>
							<% var d = new Date(item1.time) %>
							<% d.setHours(d.getHours() + 9) %>
						</div>
						<div class="ar-list-item-num"></div>
					</div>
				<% }); %>-->
		</div><div class="ar-view">
			<div class="ar-view-doc">
				<!--https://view.officeapps.live.com/op/embed.aspx?src=baogao.co/uploadedFiles/1493091178144.docx-->
				<!--http://docs.google.com/gview?url=http://www.yinson.com.my/assets/pdf/20170323 AC Terms of Reference Version 3.0.pdf&embedded=true-->
				<iframe src="" style="width: 100%; height: 100%; overflow: hidden;" frameborder="0"></iframe>
			</div><div class="ar-view-detail">
				<div class="ar-view-detail-user">

					<div class="ar-view-detail-user-school userSchool" style="background-image: url('');"><img src="/img/11.png" /></div><br />
					<span class="userName"></span><br />
					<span class="userEmail"></span><br />
					<span class="statusText" style="font-weight: 700;"></span><br />
					<span class="paymentAmount"></span>

				</div>
				<!--
					<div class="ar-view-detail-section">
					</div>-->

				<!--<div class="ar-view-comment ar-view-detail-section">
						<span style="font-weight: 700; display: block; margin-bottom: 3px; color: #7b7c80;"><%- req.user.emails[0].value %></span>
						<div class="ar-view-detail-section-comment">
							<textarea placeholder="코멘트 입력"></textarea>
							<input type="file" style="width: 80%;" /><button type="submit" style="width: 20%;">제출</button>
						</div>
					</div>-->
				<div class="ar-view-detail-dialog" value="setPrice">
					<form id="frmSetPrice" class="ar-view-detail-dialog-inside" method="POST" action="/api/v1/admin/pay/setPrice">
						<input name="request_id" type="hidden" />
						<span class="ar-view-detail-dialog-close" aria-hidden="true">×</span>
						<span class="ar-view-detail-dialog-span">가격을 지정해주세요.</span>
						<input class="ar-view-detail-dialog-text" type="number" value="7000" step="1000" name="amount" min="0" />
						<button class="ar-view-detail-dialog-button" type="button" onclick="$('input[name=amount]').val(parseInt($('input[name=amount]').val()) + 1000);">+ 1,000</button>
						<button class="ar-view-detail-dialog-button" type="button" onclick="$('input[name=amount]').val(parseInt($('input[name=amount]').val()) - 1000);">- 1,000</button>
						<button class="ar-view-detail-dialog-button" type="submit">완료</button>
						<span style="font-size: 0.8em;">※ 이메일이 발송됩니다.</span>
					</form>
				</div>
				<div class="ar-view-detail-dialog" value="reject">
					<form id="frmReject" class="ar-view-detail-dialog-inside" method="POST" action="/api/v1/admin/request/reject">
						<input name="request_id" type="hidden" />
						<span class="ar-view-detail-dialog-close" aria-hidden="true">×</span>
						<span class="ar-view-detail-dialog-span">거절 사유를 입력해주세요.</span>
						<textarea class="ar-view-detail-dialog-text" name="message"></textarea>
						<button class="ar-view-detail-dialog-button" type="submit">완료</button>
						<span style="font-size: 0.8em;">※ 이메일이 발송됩니다.</span><br>
						<span style="font-size: 0.8em;">※ 자동으로 숨김 처리 됩니다.</span>
					</form>
				</div>
				<div class="ar-view-detail-dialog" value="ignore">
					<form id="frmIgnore" class="ar-view-detail-dialog-inside" method="POST" action="/api/v1/admin/request/ignore">
						<input name="request_id" type="hidden" />
						<span class="ar-view-detail-dialog-close" aria-hidden="true">×</span>
						<span class="ar-view-detail-dialog-span">목록에서 제외하겠습니까?</span>
						<button class="ar-view-detail-dialog-button" type="submit">예</button>
						<button class="ar-view-detail-dialog-button" type="button" onclick="$('.ar-view-detail-dialog-close').click();">아니오</button>
					</form>
				</div>
				<div class="ar-view-detail-dialog" value="setReviewer">
					<form id="frmIgnore" class="ar-view-detail-dialog-inside" method="POST" action="/api/v1/admin/request/setReviewer">
						<input name="request_id" type="hidden" />
						<span class="ar-view-detail-dialog-close" aria-hidden="true">×</span>
						<span class="ar-view-detail-dialog-span">교열가를 선택해주세요.</span>
						<input type="radio" name="reviewer-email" /> 김한슬마로
						<button class="ar-view-detail-dialog-button" type="submit">확인</button>
					</form>
				</div>
				<table class="ar-view-detail-setting">
					<tr>
						<td>
							<button class="ar-view-detail-setting-button" onclick="showModal('setPrice');">가격 지정</button>
						</td>
						<td>
							<button class="ar-view-detail-setting-button" onclick="showModal('reject');">거절</button>
						</td>
						<td>
							<button class="ar-view-detail-setting-button" onclick="showModal('ignore');">숨기기</button>
						</td>
					</tr>
				</table>
				<table class="ar-view-detail-setting">
					<tr>
						<td>
							가격이 지정되었습니다.
						</td>
					</tr>
				</table>
				<table class="ar-view-detail-setting">
					<tr>
						<td>
							<button class="ar-view-detail-setting-button" onclick="showModal('setReviewer');1">담당 교열가 지정하기</button>
						</td>
					</tr>
				</table>
				<table class="ar-view-detail-setting">
					<tr>
						<td>
							<button class="ar-view-detail-setting-button">교열 완료 메일 발송</button>
						</td>
					</tr>
				</table>
				<table class="ar-view-detail-setting">
					<tr>
						<td>
							교열이 완료된 의뢰물입니다.
						</td>
					</tr>
				</table>
			</div>
			<!--</div>-->

			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
			<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
			<!--<script src="/js/lib/jquery.ddslick.min.js"></script>
		<script src="/js/lib/i18n.js"></script>
		<script src="/js/lib/divhelper.js"></script>-->
			<!--<script src="/js/global.js"></script>-->
			<script src="/js/<%= filename %>.js"></script>
</body>

</html>