<%- include header %>

	<%
		var statusColor = ["#f57a82", "#f5ec7a", "#7ac0f5","#7b7c80"]
		var prettyDate = function(date){
			if (date === undefined || date == null) {
				return null;
			}

			var d = new Date();

			diff = d - date;
			diff /= 1000;
		
			if(diff < 60){
				result = diff + "초 전";
			}
			else if(diff < 3600){
				result = parseInt(diff / 60) + "분 전";
			}
			else if(diff < 86400){
				result = parseInt(diff / 3600) + "시간 전";
			}
			else if(diff < 604800){
				result = parseInt(diff / 86400) + "일 전";
			}
			else{
				result = d.toLocaleDateString("ko-KR");
			}
			
			return result;
		}
	%>
	<div class="container" style="padding: 40px 0px;">
		<a href="#" onclick="history.back();" style="margin-bottom: 60px; display: inline-block;">&lt;&lt;이전 페이지로 돌아가기</a>

		<!--<%= JSON.stringify(param.request) %>-->
		<div class="admin-request-list">
			<!--<thead>
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>이메일</th>
				<th>학교</th>
				<th>강의명</th>
				<th>한국어</th>
				<th>원문</th>
				<th>등록시간</th>
			</tr>
		</thead>-->
			<!--<tbody>-->
			<% param.request.data.forEach(function(item1) { %>
				<div class="admin-request-list-item">
					<div class="admin-request-list-item-status" style="background-color:<%= statusColor[item1.status] %>">
					</div>
					<!--<%= item1.id %>-->
					<div class="admin-request-list-item-user">
						<div class="admin-request-list-item-user-school" style="background-image: url('/img/school_logo/<%= item1.school_url %>.png');"><img src="/img/11.png" /></div><br />
						<%= item1.name %><br />
						<%= item1.email %><br />
						<% var d = new Date(item1.time) %>
						<% d.setHours(d.getHours() + 9) %>

						<!--<%= d.toLocaleDateString("ko-KR") %><br /><%= d.toLocaleTimeString("ko-KR") %>-->
					</div>
					<div class="admin-request-list-item-detail">
						<span class="admin-request-list-item-detail-subject"><%= item1.subject %></span>
						<% if(item1.file.substr(-1)!='/'){ %>
							<a class="admin-request-list-item-detail-file" href="<%= item1.file.substr(-1)=='/'?'#':item1.file %>" download><%- "<img src='/img/mime/file.png'>[한국어]" + item1.file.split("/").pop() %></a><span class="admin-request-list-item-detail-time">
								<%= prettyDate(d); %>
									</span>
							<% } %>
					</div>
					<div class="admin-request-list-item-detail">

						<% if(item1.original.substr(-1)!='/'){ %>
							<a class="admin-request-list-item-detail-file" href="<%= item1.original.substr(-1)=='/'?'#':item1.original %>" download><%- "<img src='/img/mime/file.png'>[원문]" + item1.original.split("/").pop() %></a><span class="admin-request-list-item-detail-time">
								<%= prettyDate(d); %>
									</span>
							<% } %>
					</div>
					<div class="admin-request-list-item-detail">

						<% if(item1.context != "" && item1.context != null){ %>
							<span style="font-weight: 700; display: block; margin-bottom: 3px; color: #7b7c80;"><%- item1.name %></span>
							<div class="admin-request-list-item-detail-text">
								<%- item1.context %>
							</div><span class="admin-request-list-item-detail-time"><%= prettyDate(d); %></span>
							<% } %>
					</div>
					<!--
					<% item1.comment.forEach(function(item2) { %>
						<div class="admin-request-list-item-detail">

							<% var d2 = new Date(item2.time) %>
							<% d2.setHours(d2.getHours() + 9) %>
							<span style="font-weight: 700; display: block; margin-bottom: 3px; color: #7b7c80;"><%- item2.admin_email %></span>
							<div class="admin-request-list-item-detail-text">
								<%- item2.content %>
							</div><span class="admin-request-list-item-detail-time"><%= prettyDate(d2); %></span>
							<div class="admin-request-list-item-detail-management">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</div>
						</div>

					<% }); %>

					-->
					<!--<div class="admin-request-list-item-detail">
						<span style="font-weight: 700; display: block; margin-bottom: 3px; color: #7b7c80;"><%- req.user.emails[0].value %></span>
						<div class="admin-request-list-item-detail-comment">
							<textarea placeholder="코멘트 입력"></textarea>
							<input type="file" style="width: 80%;" /><button type="submit" style="width: 20%;">제출</button>
						</div>
					</div>-->
				</div>
			<% }); %>
					<!--</tbody>-->
		</div>
		<div class="clearfix"></div>
		<div class="admin-request-page">

			<% param.pageInfomation.forEach(function(item1, index) { %>
				<a href="<%= item1 %>" <%- (parseInt(index)+1)==param.request.nowPage? 'class="selected"': '' %> ><%= index + 1 %></a>
			<% }); %>

		</div>
	</div>
<%- include footer %>