<%- include header %>
	<script>
		var request_id = "<%- param.request.id %>";
	</script>
	<div class="form-header" style="border-top-color: #168046;">
		<div class="container" style="padding-bottom:10px;">
			<div class="form-header-top">
				<!--<div class="form-header-back"><i class="ion-ios-arrow-left"></i></div>-->
				<div class="form-header-logo">
					<img src="/img/baogao.png" style="height: 30px; vertical-align: middle;" />
				</div>
				<div class="clearfix"></div>
				<div class="container school_bg" style="background-image: url('/img/school_background/<%= param.school.url %>.jpg'); background-position: center;">
					<span class="request-title" style="border-top-color: <%= param.school.color %>;">
						付款进行中，请不要关闭窗口
					</span>
					<div class="cover"></div>
				</div>
				<form class="iamport">
					<div class="iamport-confirm request-content">
						<table>
							<tr>
								<th colspan="5">
									결제 금액을 확인해주세요.
								</th>
								
							</tr>
							<tr>
								<th>책정 금액</th>
								<th></th>
								<th>할인</th>
								<th></th>
								<th>결제 금액</th>
							</tr>
							<tr>
								<td>￦ <%- param.payment.amount %></td>
								<td style="font-weight: 700;">－</td>
								<td>￦ <%- param.coupon != null ? param.coupon.request.discounted : 0 %></td>
								<td style="font-weight: 700;">＝</td>
								<td>￦ <%- param.coupon != null ? param.coupon.request.amount : param.payment.amount %></td>
							</tr>
						</table>
					</div>
					<input type="hidden" value="<%- param.request.id %>" name="request_id" />
					<div class="request-content">
						<table id="requestT">
							<!--<caption>입력</caption>-->
							<colgroup>
								<col class="cola" />
								<col class="colb" />
							</colgroup>
							<tr>
								<td>卡号</td>
								<th>
									<input class="iamport-input-card" type="text" maxlength="4" placeholder="0000" name="card_number[]" required />-
									<input class="iamport-input-card" type="password" maxlength="4" placeholder="****" name="card_number[]" required />-
									<input class="iamport-input-card" type="password" maxlength="4" placeholder="****" name="card_number[]" required />-
									<input class="iamport-input-card" type="text" maxlength="4" placeholder="0000" name="card_number[]" required />
								</th>
							</tr>
							<tr>
								<td>有限期限(00/00)</td>
								<th>
									<input class="iamport-input-card" type="text" maxlength="2" placeholder="月(00)" name="expiry[]" required />/
									<input class="iamport-input-card" type="text" maxlength="2" placeholder="年(00)" name="expiry[]" required />
								</th>
							</tr>
							<tr>
								<td>生年月日6位数</td>
								<th><input type="text" maxlength="10" placeholder="000000" name="birth" required /></th>
							</tr>
							<tr>
								<td>银行卡密码前两位</td>
								<th><input type="password" maxlength="2" placeholder="**" name="pwd_2digit" required /></th>
							</tr>
						</table>
					</div>
					<div class="buttons">
						<br />
						<input type="checkbox" id="agree"> 我同意
						<a href="http://ciceron.me/terms" target="_blank">'服务使用协议'</a>和<a href="http://ciceron.me/privacy" target="_blank">'个人情报获取协议'</a>。<br
						/>
						<br />
						<br />
						<button id="r-check" type="submit" style="background-color: <%= param.school.color %>;">SUBMIT</button>
						<!--<button id="r-modify" type="button">수 정</button>-->
						<!--<button id="r-modify" type="button" onclick="location.href='/<%= param.school.url %>/modify';">수 정</button>-->
					</div>
				</form>

				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<%- include footer %>