<%- include header %>
	<div class="form-header" style="border-top-color: #168046;">
		<div class="container" style="padding-bottom:10px;">
			<div class="form-header-top">
				<!--<div class="form-header-back"><i class="ion-ios-arrow-left"></i></div>-->
				<div class="form-header-logo">
					<img src="/img/baogao.png" style="height: 30px; vertical-align: middle;" />
				</div>
				<div class="clearfix"></div>
				<div class="container school_bg" style="background-image: url('/img/school_background/<%= param.school.url %>.jpg'); background-position: center;">
					<span class="request-title" style="border-top-color: <%= param.school.color %>;">
						您已完成付款
					</span>
					<div class="cover"></div>
				</div>
				<div class="request-content">
					谢谢您的支持和使用，我们会尽快完成您的委托
					<br />
					<br />
					<table id="requestT">
						<colgroup>
							<col class="cola" />
							<col class="colb" />
						</colgroup>
						<tr>
							<td>邮箱</td>
							<th><%- param.request.email %></th>
						</tr>
						<tr>
							<td>姓名</td>
							<th><%- param.request.name %></th>
						</tr>
						<tr>
							<td>科目名</td>
							<th><%- param.request.subject %></th>
						</tr>
						<tr>
							<td>韩文报告</td>
							<th><%- param.request.file.split("/").pop() %></th>
						</tr>
						<tr>
							<td>中文报告</td>
							<th><%- param.request.original.split("/").pop() %></th>
						</tr>
						<tr>
							<td>其它要求</td>
							<th><pre><%- param.request.context %></pre></th>
						</tr>
						<tr>
							<td>付款金额</td>
							<th>￦<%- param.payment.amount %></th>
						</tr>
					</table>

					<div class="buttons">
						<button id="r-check" type="button" style="background-color: <%= param.school.color %>;" onclick="location.href='/';">确认</button>
						<!--<button id="r-modify" type="button">수 정</button>-->
						<!--<button id="r-modify" type="button" onclick="location.href='/<%= param.school.url %>/modify';">수 정</button>-->
					</div>
					<br />
					<br />
					<br />
					<br />
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<%- include footer %>