<%- include header %>
	<script>
		var request_id = "<%- param.request.id %>";
		var request_status = "<%- param.request.status %>";
		var payment_status = "<%- param.payment.status %>";
		var payment_amount = "<%- param.payment.amount %>";
	</script>
	<div class="form-header" style="border-top-color: #168046;">
		<div class="container" style="padding-bottom:10px;">
			<div class="form-header-top">
				<!--<div class="form-header-back"><i class="ion-ios-arrow-left"></i></div>-->
				<div class="form-header-logo">
					<img src="/img/baogao.png" style="height: 30px; vertical-align: middle;" />
				</div>
				<div class="clearfix"></div>
				<div class="container school_bg" style="background-image: url('/img/school_background/<%= param.school.url %>.jpg'); background-position: center;">
					<span class="request-title" style="border-top-color: <%= param.school.color %>;">
						请您确认好信息后付款
					</span>
					<div class="cover"></div>
				</div>
				<div class="request-content checkout-content">
					<table id="requestT">
						<caption>您的请求信息</caption>
						<colgroup>
							<col class="cola" />
							<col class="colb" />
						</colgroup>
						<tr>
							<td>邮箱</td>
							<th><%- param.request.email %></th>
						</tr>
						<tr>
							<td>姓名</td>
							<th><%- param.request.name %></th>
						</tr>
						<tr>
							<td>科目名</td>
							<th><%- param.request.subject %></th>
						</tr>
						<tr>
							<td>韩文报告</td>
							<th><%- param.request.file.split("/").pop() %></th>
						</tr>
						<tr>
							<td>中文报告</td>
							<th><%- param.request.original.split("/").pop() %></th>
						</tr>
						<tr>
							<td>其它要求</td>
							<th><pre><%- param.request.context %></pre></th>
						</tr>
					</table>
				</div><div class="checkout-coupon">
					<span class="space">&nbsp;</span>
					<form class="checkout-coupon-form">
						<div style="font-weight: 700;">쿠폰 이용</div>
						<input type="hidden" name="request_id" value="<%- param.payment.request_id %>">
						<input type="text" name="code" class="checkout-coupon-form-text"><button type="submit" class="checkout-coupon-form-button">적용</button>
						<br />
						<br />
						<div>가격: ￦<%- param.payment.amount %></div>
						<div>할인: ￦<span class="checkout-coupon-discounted">0</span></div>
						<div>결제: ￦<span class="checkout-coupon-amount"><%- param.payment.amount %></span></div>
					</form>
				</div>

				<br />
				<br />
				<br />
				<br />

				<div class="school">
					<div class="container">
						<span class="title">价格: <span style="font-size: 1.5em; display: inline-block;">￦<span class="checkout-amount"><%- param.payment.amount %></span></span></span><br />
						<span style="font-size: 0.8em;">根据付款方式，由于汇率等问题，价格可能会有所不同。</span><br />
						<br />
						<br />
						<input type="checkbox" id="agree">
						我同意<a href="http://ciceron.me/terms" target="_blank">'服务使用协议'</a>和<a href="http://ciceron.me/privacy" target="_blank">'个人情报获取协议'</a>。<br />
						<br />
						<br />
						
						<div class="school-item checkout-item" payment="iamport" style="background-image: url(/img/payment/card.png);">
							<span class="school-item-title">信用卡/借记卡<br /><span style="font-size: 0.8em;">将以韩元支付。</span></span>
						</div>
						<div class="school-item checkout-item" payment="alipay" style="background-image: url(/img/payment/alipay.png);">
							<span class="school-item-title">Alipay<br /><span style="font-size: 0.8em;">以人民币支付。</span></span>
						</div>
						<div class="school-item checkout-item" payment="paypal" style="background-image: url(/img/payment/paypal.png);">
							<span class="school-item-title">PayPal<br /><span style="font-size: 0.8em;">它将以美元支付。</span></span>
						</div>
						<br /><br /><br /><br />
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<%- include footer %>