<%- include header %>
	<div class="event-list">
		<div class="container">
			<div class="event-list-item">
				<!-- 진행중인 이벤트가 없습니다. -->
				最火热的活动即将开始，敬请期待！
			</div>
		</div>
	</div>
<%- include footer %>
