<%- include header %>
    <div class="faq-list">
        <div class="container">
            <h1>baogao FAQ</h1>

            <div class="faq-list-item">
                <div class="question">
                    <span>Q</span>
                    <i class="ion-chevron-down arrow"></i>
                    <div class="questions">
                        <span>baogao 和 baogao – black 有什么区别？</span>
                        <span>baogao 와 baogao – black은 어떤 차이가 있나요?</span>
                    </div>

                </div>
                <div class="answer">
                    <div class="answers">
                        <div class="table_wrap">
                            <div class="table_row">
                                <span></span>
                                <span>baogao</span>
                                <span>baogao – black</span>
                            </div>
                            <div class="table_row">
                                <span>对象</span>
                                <span>大学本科生</span>
                                <span>大学院生、语学院生、求职生等</span>
                            </div>
                            <div class="table_row">
                                <span>校正文书类型</span>
                                <span>大学报告书</span>
                                <span>毕业论文、入学申请书、自我介绍、简历等</span>
                            </div>
                            <div class="table_row">
                                <span>时间</span>
                                <span>1~3天</span>
                                <span>根据具体情况</span>
                            </div>
                            <div class="table_row">
                                <span>费用</span>
                                <!-- <span>7000~14000韩元</span> -->
                                <span>6000韩元 ~</span>
                                <span>根据具体情况</span>
                            </div>
                        </div>
                        <br/>
                        <div class="table_wrap">
                            <div class="table_row">
                                <span></span>
                                <span>baogao</span>
                                <span>baogao – black</span>
                            </div>
                            <div class="table_row">
                                <span>대상</span>
                                <span>학부생</span>
                                <span>대학원생, 어학당생, 취준생 등</span>
                            </div>
                            <div class="table_row">
                                <span>교열 문서 유형</span>
                                <span>학부 보고서</span>
                                <span>졸업논문, 입학신청서, 자기소개서, 이력서등의 문서</span>
                            </div>
                            <div class="table_row">
                                <span>소요시간</span>
                                <span>1~3 일 </span>
                                <span>상황에 따라 달라질 수 있음</span>
                            </div>
                            <div class="table_row">
                                <span>비용</span>
                                <!-- <span>7000~14000원</span> -->
                                <span>6000원 ~</span>
                                <span>상황에 따라 달라질 수 있음</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <span>Q</span>
                    <i class="ion-chevron-down arrow"></i>
                    <div class="questions">
                        <span>需要等多久？</span>
                        <span>얼마나 기다려야 되나요?</span>
                    </div>
                </div>
                <div class="answer">
                    <div class="answers">
                        <span>本科报告书的情况，周中：提交第二天的24点前，周末：提交第三天的24点前，即可通过邮件收到修改后的报告书。<br/>其它文书所需时间需根据文书篇幅、难易度及截止日期决定。</span>
                        <span>학부 레포트의 경우, 주중에 의뢰하면 다음날 24시 전까지, 주말에 의뢰하면 이틀 후 24시 전까지 메일로 받을 수 있습니다. 기타 문서의 경우 문서의 분량, 난이도 그리고 마감일(긴급 문서의 경우 추가 요율 발생)에 따라 달라질 수 있습니다.  </span>
                    </div>
                </div>
                <div class="question">
                    <span>Q</span>
                    <i class="ion-chevron-down arrow"></i>
                    <div class="questions">
                        <span>多少钱？</span>
                        <span>가격은 어떻게 되나요?</span>
                    </div>
                </div>
                <div class="answer">
                    <!-- <div class="answers">
                        <span>本科报告书的情况，1~3页为7000韩元，此后每增加一页增加1000韩元。上限为10页（Microsoft Word, 10.5pt标准），超过10页时或其它特殊文书时，需根据文书篇幅、难易度及截止日期决定。</span>
                        <span>학부 레포트의 경우 1~3페이지 7,000원입니다. 4페이지 부터는 한 페이지당 1000원씩 추가됩니다. 레포트는 최대 10페이지까지로 간주하며 (Microsoft Word, 10.5pt 기준 10페이지),  10페이지 이상이거나 그 외의 특수 문서(논문,자기소개서,입학원서 등)는 문서의 분량, 난이도 그리고 마감일(긴급 문서의 경우 추가 요율 발생) 에 따라 달라질 수 있습니다.)</span>
                    </div> -->
                    <div class="answers">
                        <span>本科报告书的情况，1~3页为7000韩元，此后每增加一页增加1000韩元。上限为10页（Microsoft Word, 10.5pt标准），超过10页时或其它特殊文书时，需根据文书篇幅、难易度及截止日期决定。</span>
                        <span>한국어 220단어, 영문 250단어, 중문/일문 650자 기준으로 6000원입니다. 초과 단어수에 따라 금액이 추가됩니다. 레포트는 최대 10페이지까지로 간주하며(Microsoft Word, 10.5pt 기준 10페이지), 10페이지 이상이거나 그 외의 특수 문서(논문,자기소개서,입학원서 등)는 문서의 분량, 난이도 그리고 마감일(긴급 문서의 경우 추가 요율 발생)에 따라 달라질 수 있습니다.</span>
                    </div>
                </div>
                <div class="question">
                    <span>Q</span>
                    <i class="ion-chevron-down arrow"></i>
                    <div class="questions">
                        <span>校正官是谁？</span>
                        <span>교열가는 누구인가요?</span>
                    </div>
                </div>
                <div class="answer">
                    <div class="answers">
                        <span>目前，baogao 已构建起了一支出身于韩国各名门大学的专业校正团队。这些校正官的学历包括博士，硕士，和学士。<br>最值得一体的是，为了给大家提供更专业、更贴切服务，我们募集了多达十几种专业的校正官，包括国语国文系、文艺创作系、法学系、中语中文系、社会学学系、经营系、心理学系、媒体系等等。<br>校正官的（前）职业覆盖语学院老师、新闻记者、新闻编辑等和文字密切相关的职业。<br/>baogao 一直在为您提供优质服务的道路上不断努力着，让我们与您一起成为更好的自己，加油！</span>
                        <span>baogao는 다양한 전공 분야 출신 교열가들과 함께합니다. 국어국문학과, 문예창작, 법학, 중어중문학, 사회학, 경영학 그리고 미디어학 졸업생들이 보다 섬세한 교열을 제공합니다. 또한, 교열가들은 논문 교열과 논술 첨삭 강사, 한국어 어학당 강사, 뉴스기사 감수 등의 이력으로 바오가오 교열 서비스에 최적화 되어 있습니다.</span>
                    </div>
                </div>
                <div class="question">
                    <span>Q</span>
                    <i class="ion-chevron-down arrow"></i>
                    <div class="questions">
                        <span>可以翻译吗？</span>
                        <span>교열 외에 번역도 가능한가요?</span>
                    </div>
                </div>
                <div class="answer">
                    <div class="answers">
                        <span>可以。baogao服务的上属公司为주식회사 씨세론。提供面向B2B及B2C的翻译服务。可译语种包括中、英、日、法、俄、德、西语等12种。详情请见씨세론官方网页：<a href="http://www.ciceron.me"
                            target="_blank">www.ciceron.me</a></span>
                        <span>가능합니다. baogao 서비스를 진행하고 있는 모회사는 주식회사 씨세론입니다. 씨세론은 B2B와 B2C번역 서비스를 제공하며, 번역할 수 있는 언어로는 중국어, 영어, 일본어, 프랑스어, 러시아어, 독일어, 스페인어 등 12 가지입니다. 더 자세한 정보를 보시려면 <a href="http://www.ciceron.me"
                            target="_blank">www.ciceron.me</a>에 방문하시기 바랍니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include footer %>