<%- include header %>
	<div class="find-info-request">
		<div class="container">
			<form class="frmFindPass">
				<span class="find-title">找回密码</span><br>
				<input type="email" placeholder="E-mail" name="email" /><br>
				<button class="find_btn" type="submit">submit</button><br>
				<!-- <button class="fb_btn">facebook login</button><br>
				<button class="naver_btn">naver login</button><br> -->

				<span class="join_btn">申请会员</span>
				<span class="login_btn">sign in</span>
				<br />
				<br />
				<br />
				<br />
				<br />
				
			</form>
		</div>
	</div>

<%- include footer %>