<div class="footer clearfix">
    <div class="container">
        <span class="footer-logo" style="letter-spacing: -7px;"><a href="/"><img src="/img/baogao_green.png" style="height: 40px;"/></span></a><br
        />
        <div class="div2_wrap">
            <div class="div2 company_info">
                <span class="div2_title">Our Office</span>
                <br/>
                <br/>
                <!--<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>-->
                <!-- Begin MailChimp Signup Form -->

                <a class="footer-info" href="mailto:baogao@ciceron.me" target="_blank">E-mail : baogao@ciceron.me</a><br
                />
                <a class="footer-info" href="tel:+8223363830">Tel : +82-2-336-3830</a>
                <br />
                <div style="margin-top:8px;">SNS :
                    <a href="https://www.facebook.com/ciceronmate/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/baogao.co/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
                <br/>
                <a class="footer-info footer-address" target="_blank" href="https://goo.gl/maps/jJuvUiv91NR2">301, Jinseong Building, <br /><span>36, Donggyo-ro 12-gil, Mapo-gu, <br /><span>Seoul, Republic of Korea</span></span></a>
                <br/>

            </div>

            <div class="div2 footer_mail_form">
                <span class="div2_title">Contact Us</span>
                <br/>
                <br/>
                <form class="QnA_mail">
                    <div>
                        <input type="text" value="" class="name" name="name" placeholder="Name" required><br/>
                        <input type="email" value="" class="email" name="email" placeholder="Email address" required><br/>
                        <input type="text" value="" name="message" class="textarea" placeholder="Message" required><br/>
                        <button type="submit">Send Mail</button>
                    </div>
                </form>
            </div>
        </div>

        <br/>
        <br/>
        <br />
        <br />
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
                width: 100%;
            }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
            <form action="//ciceron.us15.list-manage.com/subscribe/post?u=ccf273ec202bc8d5407076d97&amp;id=4ac8552662" method="post"
                id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">留下您的邮箱地址，我们会将最新消息发送给您</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="邮箱地址" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ccf273ec202bc8d5407076d97_4ac8552662" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="填写" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->


        <!--<hr style="width: 34%; margin-left: 33%;" />-->
        <!-- <br />
        <br /> -->
        <span class="footer-powered">Powered by <a href="http://ciceron.me/" target="_blank" style="color: #7b7c80;">CICÉRON</a></span>
    </div>
    <br />
    <br />
    <br />
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!--<script src="/js/lib/jquery.ddslick.min.js"></script>
            <script src="/js/lib/i18n.js"></script>
            <script src="/js/lib/divhelper.js"></script>-->
<script src="/js/global.js"></script>
<script src="/js/<%= filename %>.js"></script>
</div>
</body>

</html>
