<%- include header %>
	<script>
		var school_color = "<%= req.baogaoUser.school_color %>";
	</script>
	<div class="form-background" style="background-image: url('/img/school_background/<%= req.baogaoUser.school_url %>.jpg');">
		<div class="form-background-gradient"></div>
	</div>
	<!--<div class="form-header" style="border-top-color: <%= req.baogaoUser.school_color %>;">-->
	<!--<div class="popup">
		<div class="step-now">
			<span style="font-weight: 700;">声明<br /></span>
			<span>我们的工作包括<br /></span>
			<span>•	改正拼写，语法和标点错误<br /></span>
			<span>•	检查句法，时态和词形变化的问题<br /></span>
			<span>•	去除不恰当的语言和质量不高的用词<br /></span>
			<span>•	根据需要使文章符合报告主题风格<br /></span>
			<span>•	所有更改都保留历史记录以便您核准 or 根据你的稿件，量身为你提供合适的写作建议。<br /><br /><br /></span>
			<span style="font-weight: 700;">我们的工作不包括<br /></span>
			<span>•	对原稿进行排版，遵循某种样式表或字数更改<br /></span>
			<span>•	编辑内容<br /></span>
			<span>•	对参考文献进行核实，编辑或编排<br /></span>
			<span>•	对原稿任何部分进行撰写，重写或释义<br /><br /><br /></span>
			<span style="font-weight: 700;">免责声明<br /></span>
			<span>1. 本项目以帮助外国留学生提高韩语实力和拿到‘与努力相符的学分’为目的，决不代写报告，望同学们自觉，自立。<br /></span> 
			<span>2. 上述价格和时间仅为 5月31日前的 试行基准，我们将通过分析试行阶段的反馈，确凿正式运营的价格，届时，将提前通知大家。<br /></span>
			<span>3. 此项目目前为试运营阶段，为了日后给大家提供更优质的服务，现在做的属实是赔钱的买卖，有诸多不足之处，还望大家宽容地给予谅解。并为了和大家一起呵护这个虽刚刚起步但对大家受益匪浅的项目，我们随时随地等待您宝贵的意见，谢谢！<br /></span>
			<button type="button" class="popup-next">알겠습니다.</button>
		</div>
	</div>-->
	<div class="form-header" style="border-top-color: #168046;">
		<div class="container">
			<br />
			<br />
			<br />
			<!-- <div class="form-header-top" style="background-image: url('/img/school_background/<%= req.baogaoUser.school_url %>.jpg');"> -->
			<div class="form-header-top">
				<!-- <div class="form-header-back"><i class="ion-ios-arrow-left"></i></div>
				<div class="form-header-logo">
					<img src="/img/baogao.png" style="height: 30px; vertical-align: middle;"/> <span style="font-size: 1em; margin-right: 3px;">X</span> <%= req.baogaoUser.school_name %>
				</div>
				<div class="clearfix"></div> -->
				<!-- <span class="form-header-title">跟中式韩语说再见！</span><br /> -->
				<span class="form-header-title">把你的中式韩文变成标准韩文！</span><br />
				<!-- <span class="form-header-content">把你的中式韩文变成标准韩文！</span> -->
				<span class="form-header-content">让你的韩文报告上升一个LEVEL!</span>
				<!--한국 대학교에 재학중인 중국인을 위한 교열 서비스.-->
			</div>
			<!--</div>
		<div class="container">-->
			<div class="form-request-inside" style="border-top-color: <%= req.baogaoUser.school_color %>;">
				<% if(!req.baogaoUser.school_name) { %>
				<div class="form-request-inside-needSignup">
					<div class="needSignup-close"></div>
					<br />
					<br />
					<div class="needSignup-title">교열을 의뢰하기 위해서는<br />사용자 정보가 필요합니다.</div>
					<br />
					<button class="needSignup-button" onclick="location.href='/signin'">
						<!-- <i class="fa fa-user" aria-hidden="true"></i> -->
						登录/申请会员
					</button>
					or
					<!-- <button class="needSignup-button">비회원으로 이용하기</button> -->
					<div class="school2" id="school">
						<input type="checkbox" class="school2-list-open" id="school2-list-open" style="display: none;">
						<label for="school2-list-open" class="needSignup-button">
							<!-- <i class="fa fa-graduation-cap" aria-hidden="true"></i> -->
							用作非会员							
							<!-- <i class="fa fa-caret-down" aria-hidden="true" style="position: absolute; right: 16px; top: 16px;"></i> -->
						</label>
						<div class="school2-list" style="position: absolute;">
							<% param.school.forEach(function(item1) { %>
								<div class="school2-list-item" style="background-image: url('/img/school_logo/<%= item1.url %>.png');" onclick="location.href='/request/<%= item1.url %>';">
									<span class="school2-list-item-title"><%= item1.name %></span>
								</div>
							<% }); %>
						</div>
					</div>
					<br />
					<br />
			
				</div>
				<% } %>
				
				<form method="POST" id="form-request">
					<input type="hidden" name="school" value="<%= req.baogaoUser.school_id %>" />
					<input type="hidden" name="url" value="<%= req.baogaoUser.school_url %>" />
					<div class="input-line">
						<div class="input-title"><sup>*</sup>邮箱</div><div class="input-content"><input name="email" type="email" placeholder="chingoo@<%= req.baogaoUser.school_email?req.baogaoUser.school_email:'example.com' %>" value="<%= req.baogaoUser.email %>"
							 required <%- req.baogaoUser.logged_in?"readonly":"" %>/>
							<span class="input-help">
							<!-- 请填写您常用的邮箱地址 -->
							<!--신규 이메일에는 인증이 1회 필요합니다.-->
							<!--为了确认您学生的身份, 请用学校邮箱登陆。-->
						</span>
						</div>
					</div>

					<div class="input-line">
						<div class="input-title"><sup>*</sup>姓名</div><div class="input-content"><input name="name" type="text" placeholder="小明" value="<%= req.baogaoUser.name %>" required <%- req.baogaoUser.logged_in?"readonly":"" %>/></div>
					</div>
					<div class="input-line">
						<div class="input-title"><sup>*</sup>科目名</div><div class="input-content"><input id="form-request-subject" name="subject" type="text" placeholder="请用韩文输入科目名" required/><span class="input-help">为了更准确地为您校正, 请填写科目名</span></div>
					</div>
					<div class="input-line">
						<div class="input-title"><sup>*</sup>韩文文书</div><div class="input-content"><input name="file" type="file" placeholder="" required/></div>
					</div>
					<div class="input-line">
						<div class="input-title"><sup>&nbsp;</sup>中文文书</div><div class="input-content"><input name="original" type="file" placeholder="" /><span class="input-help">如果您能提供对应的中文版文书给我们<br />我们将会更有效率地完成您的委托</span></div>
					</div>
					<div class="input-line">
						<!-- <div class="input-title"><sup>&nbsp;</sup>其它要求</div><div class="input-content"><textarea name="context" type="text" placeholder="您可以选择将您的微信或QQ留下&#10;以便我们即使与您联系" rows="10"></textarea><span class="input-help">为了方便校正官阅读，请您尽量写韩语</span></div> -->
						<div class="input-title"><sup>&nbsp;</sup>其它要求</div><div class="input-content"><textarea name="context" type="text" placeholder="您可以选择将您的微信或QQ留下&#10;以便我们及时与您联系" rows="10"></textarea><span class="input-help">为了方便校正官阅读，请您尽量用韩语填写</span></div>
					</div>
					按下提交后, 我们将视为您已同意 <a href="http://ciceron.me/terms" target="_blank">'服务使用协议'</a> 和 <a href="http://ciceron.me/privacy"
					 target="_blank">'个人情报获取协议'</a>。<br /><br />
					<!--제출 버튼을 누르면 서비스 <a href="http://ciceron.me/terms" target="_blank">이용약관</a> 및 <a href="http://ciceron.me/privacy" target="_blank">개인정보취급방침</a>에 동의하는 것으로 간주합니다.<br /><br />-->
					<button type="submit" style="background-color: <%= req.baogaoUser.school_color %>;">提交</button>
					<br />

				</form>
			</div>
			<!--<div class="clearfix"></div>-->
		</div>
	</div>
	<div class="form-request">
		<!-- <div class="container" style="background-image: url('/img/school_background/<%= req.baogaoUser.school_url %>.jpg');"> -->
		<div class="container">
			<!-- <div class="form-request-shape" style="background-image: url('/img/school_logo/<%= req.baogaoUser.school_url %>.png'); background-color: #f0f0f0;"></div> -->
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="form-intro">
		<div class="container">
			<div class="div3 explanation">
				<!--<i class="icon ion-ios-chatboxes-outline fa-2x"></i>-->
				<!--<img src="/img/s.png" style="height: 300px;"/>-->
				<br />
				<span class="explanation-subject" style="border-top-color: <%= req.baogaoUser.school_color %>;">我们的特点</span>
				<span class="explanation-content">完成修改后<br />我们会发送两份文件给您<br />"完成版"：可直接提交<br />"学习版"：留有修改痕迹和对您的写作建议</span>
				<!--<span class="explanation-subject" style="border-top-color: <%= req.baogaoUser.school_color %>;"><%= req.baogaoUser.school_name %>使用条款</span>-->
				<!--<span class="explanation-content">本项目仅在2017.05.31日前免费<br />6月1日起将进入正式运营期<br />届时将重新通知收费标准。</span>-->
			</div><div class="div3 explanation">
				<!--<i class="icon ion-ios-alarm-outline fa-2x"></i>-->
				<br />
				<!--<span class="explanation-subject" style="border-top-color: <%= req.baogaoUser.school_color %>;">便捷的接收方式</span>-->
				<span class="explanation-subject" style="border-top-color: <%= req.baogaoUser.school_color %>;">需等待时间</span>
				<span class="explanation-content">我们理解每位同学争分夺秒的心情<br />会争取在24小时之内, 将修改后的报告<br />通过邮件发送给您, 请及时查收。</span>
			</div><div class="div3 explanation">
				<!--<i class="icon ion-cash fa-2x"></i>-->
				<br />
				<span class="explanation-subject" style="border-top-color: <%= req.baogaoUser.school_color %>;">特殊情况</span>
				<span class="explanation-content">若我们不能准确地理解报告的内容<br />而且您也未提供中文对应版时<br />我们将通过邮件单独联系您<br />请注意及时查收。</span>
			</div>
		</div>
	</div>
	<!-- <div class="pricing" id="pricing">
		<!-- <svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="curve" fill="red">
			<polygon points="1280 0 1280 70 0 70" fill="#b9d8c7"></polygon>
		</svg> --
		<div class="container explanation">
			<br />
			<br />
			<span class="explanation-subject" style="border-top-color: <%= req.baogaoUser.school_color %>;">价格信息</span>
			<br />
			<br />
			<br />
			<table class="pricing-table">
				<tr class="pricing-table-line">
					<th class="pricing-table-line-title">
						~3 页
					</th>
					<td class="pricing-table-line-content">
						<span style="font-weight: 700;">7,000韩元</span>
						<br /> <span style="font-size: 0.8em; color: gray;">Microsoft Word, 10.5pt 기준, 표지 제외</span>
					</td>
					<!-- <td class="pricing-table-line-infomation" rowspan="4">
						<button class="gotoSchool">
							点这里，选择所属大学
						</button>
						<span><i class="fa fa-check" aria-hidden="true"></i>전문 교열 서비스</span>
						<span><i class="fa fa-check" aria-hidden="true"></i>첨삭지도 제공</span>
						<br />

						<span style="text-align: center; font-size: 1em;">논문 교열 고객:</span>
						<div style="border-radius: 6px; background-color: #dbdbdb; padding: 10px; text-align: center;">
							<a href="https://goo.gl/forms/YFj8ARa6EnanKrS83" target="_blank" style="font-size: .8em; color: #231f20; text-decoration: underline;">이 페이지를 방문 - baogao black</a>
						</div>
					</td> --
				</tr>
				<tr class="pricing-table-line">
					<td class="pricing-table-line-title">
						~4 页
					</td>
					<td class="pricing-table-line-content">
						<span style="font-weight: 700;">8,000韩元</span>
						<br /> <span style="font-size: 0.8em; color: gray;">Microsoft Word, 10.5pt 기준, 표지 제외</span>
					</td>
				</tr>
				<tr class="pricing-table-line">
					<td class="pricing-table-line-title">
						~9 页
					</td>
					<td class="pricing-table-line-content">
						<span style="font-weight: 700;">5页为9,000韩元，</span><br /> 每增加一页加1,000韩元。
						<br /> <span style="font-size: 0.8em; color: gray;">Microsoft Word, 10.5pt 기준, 표지 제외</span>
						<br />
					</td>
				</tr>
				<tr class="pricing-table-line">
					<td class="pricing-table-line-title">
						10 页~
					</td>
					<td class="pricing-table-line-content">
						10页以上视为论文，请单独联系负责人。<br />
					</td>
				</tr>
			</table> <br />
			<br />
		</div>
	</div> -->

	<div class="pricing" id="pricing">
		<div class="container explanation">
			<br />
			<br />
			<span class="explanation-subject" style="border-top-color: <%= req.baogaoUser.school_color %>;">价格信息</span>
			<br />
			<br />
			<br />
			<table class="pricing-table">
				<tr class="pricing-table-line">
					<td class="pricing-table-line-title">
						언어
					</td>
					<td class="pricing-table-line-title">
						<span style="font-weight: 700;">가격</span>
					</td>
				</tr>
				<tr class="pricing-table-line">
					<td>
						한국어 / 영문 / 일문 / 중문
					</td>
					<td class="pricing-table-line-content">
						<span>6,000韩元 ~</span>
					</td>
				</tr>
				<tr class="pricing-table-line">
					<td class="pricing-table-line-content" colspan = "2">
						<ul>
							<span>안내</span>
							<li>한국어 220단어, 영문 250단어, 중문 / 일문 650자 기준입니다.</li>
							<li>교열문서의 전문성, 긴급정도에 따라 추가요금 발생 할 수 있습니다.</li>
							<li>레포트는 최대 10페이지까지 간주합니다. (Microsoft Word, 10.5pt 기준, 표지 제외)</li>
							<li>11페이지 이상이거나 그 외의 특수 문서(논문,자기소개서,입학원서 등)는 문서의 분량, 난이도 <br>그리고 마감일(긴급 문서의 경우 추가 요율 발생)에 따라 달라질 수 있습니다.</li>
						</ul>
					</td>
				</tr>
			</table> <br />
			<br />
		</div>
	</div>

	<%- include footer %>
