<%- include header %>
	<div class="intro" style="background-image: none;">
		<div class="container" style="background-image: none;">
			<div class="intro-logo">
				报告 <span style="font-size: 0.8em;">X</span> 高麗大學校
			</div>
			<span class="intro-title">
				甛蜜蜜爾笑得甛蜜蜜好像花兒開在春風裏開在春風裏<br />
				在那裏在那裏見過爾爾的笑容這樣熟悉我一時想不起<br />
			</span>
			<div class="div3 explanation">
				<i class="icon ion-ios-chatboxes-outline fa-2x"></i>
				<br />
				<span class="explanation_subject">啞 在夢裏</span>
				<span class="explanation_content">夢裏夢裏見過爾<br />甛密笑得多甛密<br />是爾是爾夢見的就是爾</span>
			</div><div class="div3 explanation">
				<i class="icon ion-ios-alarm-outline fa-2x"></i>
				<br />
				<span class="explanation_subject">在那裏在那裏見過爾</span>
				<span class="explanation_content">爾的笑容這樣熟悉<br />我一時想不起<br />啞 在夢裏)</span>
			</div><div class="div3 explanation">
				<i class="icon ion-cash fa-2x"></i>
				<br />
				<span class="explanation_subject">甛蜜蜜爾笑得甛蜜蜜</span>
				<span class="explanation_content">好像花兒開在春風裏 開在春風裏<br />在那裏在那裏見過爾<br /><span style="font-weight: 400;">爾的笑容這樣熟悉</span>我一時想不起</span>
			</div>
		</div>
	</div>
<div class="form">
	<div class="wrapper application">
		<div class="apply_form" id="form" style="border-color: #872434">
			<div class="apply_form_background"></div>
			<form method="POST">
				<div class="input_line">
					<div class="input_title"><sup>*</sup>이름</div>
					<div class="input_content"><input type="text" placeholder="홍길동"/></div>
				</div>
				<div class="input_line">
					<div class="input_title"><sup>*</sup>이메일</div>
					<div class="input_content"><input type="email" placeholder="chingoo@ciceron.me"/></div>
				</div>
				<div class="input_line">
					<div class="input_title"><sup>*</sup>과목명</div>
					<div class="input_content"><input type="text" placeholder=""/></div>
				</div>
				<div class="input_line">
					<div class="input_title"><sup>*</sup>파일</div>
					<div class="input_content"><input type="text" placeholder="fdsafdsa"/></div>
				</div>
				<div class="input_line">
					<div class="input_title"><sup>&nbsp;</sup>요구사항</div>
					<div class="input_content"><textarea type="text" placeholder="vcxzvcxzvczx"></textarea></div>
				</div>
				<button type="submit">제출</button>
				
			</form>
		</div>
	</div>
</div>
<%- include footer %>
