<!doctype html>
<html lang="zh-Hans">

<head>
	<meta charset="utf-8">
	<!--<meta name="theme-color" content="#08C1CE">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">




	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="<%- url %>">
	<meta name="twitter:title" content="baogao - 修改你的报告">
	<meta name="twitter:description" content="让你的报告上升一个level！ 是一个免费帮你润色韩文报告的项目。">
	<meta name="twitter:image" content="http://baogao.co/img/card1.png">

	<meta property="og:title" content="baogao - 修改你的报告" />
	<!--<meta property="og:type" content="article"/>-->
	<meta property="og:url" content="<%- url %>" />
	<meta property="og:description" content="让你的报告上升一个level！ 是一个免费帮你润色韩文报告的项目。" />
	<meta property="og:image" content="http://baogao.co/img/card1.png" />




	<title>baogao</title>
	<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<!--<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="css/jquery-ui.css">-->
	<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
	<link rel="stylesheet" type="text/css" media="all" href="/css/slick.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/slick-theme.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
	<!-- <link rel="stylesheet" type="text/css" media="all" href="/css/kr_mark_style.css"> -->
	<link rel="stylesheet" type="text/css" media="all" href="/css/search.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/baogao.css">

	<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.1.min.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-96187098-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/sha256.jquery.js"></script>
	<script type="text/javascript" src="/js/slick.min.js"></script>
	<script type="text/javascript">
		var userInfomation = <%- JSON.stringify(req.baogaoUser) %>;
	</script>
</head>

<body>
	<div class="header">
		<div class="container">
			<!-- <div class="header-back">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</div> -->
			<div class="header-side">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
			<div class="header-logo" onclick="location.href='/';"></div>
			<div class="header-account">
				<% if(req.baogaoUser.email){ %>
					<a href="/account">
						<i class="fa fa-user" aria-hidden="true"></i>
					</a>
					<% } else { %>
						<!-- <a href="/signin">로그인</a> -->
						<a href="/signin">登录</a>
						<% } %>
			</div>

			<div class="header-menu">
				<ul>
					<li>
						<!-- <a href="/about">회사소개</a> -->
						<a href="javascript:;">公司介绍
							<i class='ion-ios-arrow-down'></i>
						</a>
						<ul>
							<li>
								<a href="/about">
									<i class="ion-android-arrow-dropright"></i>公司介绍
								</a>
							</li>
							<li>
								<a href="/about#faq">
									<i class="ion-android-arrow-dropright"></i>FAQ
								</a>
							</li>
						</ul>
					</li>
					<!-- <a href="/request">보고서교열</a> -->
					<li>
						<a href="/request">润色韩文报告</a>
					</li>
					<!-- <a href="/black">전문교열</a> -->
					<li>
						<a href="javascript:;" class="black">润色其它韩文文书
							<i class='ion-ios-arrow-down'></i>
						</a>
						<ul>
							<li>
								<a href="/black">
									<i class="ion-android-arrow-dropright"></i>韩文毕业论文</a>
								<!-- 논문교열 -->
							</li>
							<li>
								<a href="/black_job">
									<i class="ion-android-arrow-dropright"></i>求职简历</a>
								<!-- 취직이력서 -->
							</li>
							<li>
								<a href="/black_app">
									<i class="ion-android-arrow-dropright"></i>入学申请材料</a>
								<!-- 입학신청서 -->
							</li>
						</ul>
					</li>
					<!-- <a href="/lecture">강의평가</a> -->
					<li style="display:none;">
						<a href="/lecture">中文版课程评价</a>
					</li>
					<li>
						<a href="/tools/spell">맞춤법검사기</a>
					</li>
					<!-- <a href="/event">이벤트</a> -->
					<li>
						<a href="/event">活动</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="wrapper">
		<!-- <div class="fixed_header invisible">
			<div class="container">
				<div class="header-side">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<div class="fixed_header-logo" onclick="location.href='/';"></div>
				<div class="header-account">
					<% if(req.baogaoUser.email){ %>
						<a href="/account">
							<i class="fa fa-user" aria-hidden="true"></i>
						</a>
					<% } else { %>
						<a href="/signin">登录</a>
					<% } %>
				</div>
				<div class="header-menu">
					<ul>
						<li>
							<a href="/about">公司介绍
								<i class='ion-ios-arrow-down'></i>
							</a>
							<ul>
								<li>
									<a href="/about#faq">
										<i class="ion-android-arrow-dropright"></i>FAQ</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/request">润色韩文报告</a>
						</li>
						<li>
							<a href="#" class="black">润色其它韩文文书
								<i class='ion-ios-arrow-down'></i>
							</a>
							<ul>
								<li>
									<a href="/black">
										<i class="ion-android-arrow-dropright"></i>韩文毕业论文</a>
								</li>
								<li>
									<a href="/black_job">
										<i class="ion-android-arrow-dropright"></i>求职简历</a>
								</li>
								<li>
									<a href="/black_app">
										<i class="ion-android-arrow-dropright"></i>入学申请材料</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/lecture">中文版课程评价</a>
						</li>
						<li>
							<a href="/event">活动</a>
						</li>
					</ul>
				</div>
			<div class="clearfix"></div>
				<% if(filename == "main") { %>
					<% } %>
		</div> -->
	</div>