<!-- <!DOCTYPE>
<!DOCTYPE html>
<html lang="kr">

<head>
    <title>맞춤법 검사기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <link href="css/kr_mark_style.css" rel="stylesheet">
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="js/kr_mark.js"></script>
</head>

<body> -->
<%- include header %>
    <div class="form-background" style="background-image: url('/img/school_background/<%= req.baogaoUser.school_url %>.jpg');">
        <div class="form-background-gradient"></div>
    </div>
    <div id="wrapper">
        <div class="container">
            <div class="header_wrap">
                <header>
                    <div id="logo">
                        <br>
                        <br>
                        <br>
                        <span class="header_title">
                            <a href="/tools/spell">한국어 맞춤법 검사</a>
                        </span>
                    </div>
                    <div id="menu" style="display:none;">
                        <div>
                            <a href="#">채점목록</a>
                        </div>
                    </div>
                </header>
            </div>

            <div id="page">
                <!-- 1번째 페이지 -->
                <div id="content">
                    <form class="myform1">
                        <div class="type_back">
                            <div class="type_wrap">
                                <!-- <input type="hidden" /> -->
                                <div id="form_type">
                                    <input type="hidden" class="quiz_type_val">
                                </div>
                            </div>
                        </div>

                        <div class="textarea_wrap" style="border-top-color: <%= req.baogaoUser.school_color %>;">
                            <textarea name="question_text" id="form_text" placeholder="문장을 입력하세요."></textarea>
                            <br>

                            <span class="text_count">글자수:
                                <span class="total_score">0</span>
                            </span>
                            <p>
                                <button type="submit" class="button-style" onclick="return false;">검사하기</button>
                            </p>
                        </div>

                    </form>

                </div>

                <div id="content2_wrap" class="invisible">
                    <!-- <div id="content2_wrap" class=""> -->
                    <div class="type_back no-print" style="display:none;">
                        <div class="type_wrap">
                            <!-- <h2>문제유형</h2> -->
                            <span class="back_arrow" onclick="back_arrow_evt()">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </span>

                        </div>
                    </div>

                    <!-- 2번째 페이지 -->
                    <div class="content2_inner_wrap">
                        <div class="content2_table">

                            <div id="content2">
                                <form class="myform2">
                                    <div class="textarea_wrap" style="border-top-color: <%= req.baogaoUser.school_color %>;">

                                        <span class="text_count">글자수:
                                            <span class="total_score">0</span>
                                        </span>

                                        <div class="form_text_wrap">
                                            <!-- <input type="hidden" value=""> -->
                                            <div name="question_text" id="form_text"></div>
                                        </div>

                                    </div>
                                </form>

                            </div>

                            <span class="text_count mobile_ver">글자수:
                                <span class="total_score">0</span>
                            </span>

                            <div id="sidebar" class="sidebar2" style="border-top-color: <%= req.baogaoUser.school_color %>;">
                                <form class="result_content">
                                    <div id="tbox1">
                                        <div class="style2">

                                        </div>
                                    </div>
                                    <button type="submit" class="result_submit"></button>
                                </form>
                            </div>
                        </div>

                        <div class="clearFix"></div>
                        <p class="spell_chk_btn">
                            <button type="button" class="button-style change_all_btn">모두 바꾸기</button>
                            <button type="button" class="button-style copy_all_btn">전체 복사</button>
                            <button type="button" class="button-style down_btn">파일 다운로드</button>
                            <button type="button" class="button-style" onclick="cancel_all();">취소</button>
                        </p>

                        <p>
                            <button type="button" class="button-style" onclick="window.open('/request')">교열의뢰</button>
                            <button type="button" class="button-style" onclick="window.open('http://www.ciceron.me')">번역의뢰</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="ad_section">
                <!-- 광고섹션 -->
                <a href="http://ciceron.me/" target="_blank">
                    <!-- <img src="/img/ciceron_ad3.jpg" alt="씨세론 광고"> -->
                </a>
            </div>
        </div>
        <!-- <footer class="no-print">
            <p>
                CICERON, 3F 36, Donggyo-ro 12-gil, Mapo-gu Seoul, South Korea
                <br> 서울특별시 마포구 동교로 12길 36 3층 주식회사 씨세론
                <br> TEL +82-2-336-3830 | E-MAIL
                <a href="mailto:chingoo@ciceron.me" target="_top">chingoo@ciceron.me</a>
            </p>
            <p>
            </p>
        </footer> -->
        <button class="button-style popup_btn" type="button">의견보내기</button>
    </div>
    <!-- </div> -->

    <div class="kr_mark_popup invisible">
        <div class="popup-inner">
            <h2>의견 보내기
                <a class="popup-close" href="#">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </h2>

            <form class="popup_form form_send_mail">

                의견 또는 문의사항을 보내주세요.
                <br> 이메일주소를 적어주시면 답변을 받으실 수 있습니다.
                <br>
                <br>

                <!-- <span>성함</span>
                <input type="text" name="name" /> -->
                <span>
                    <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    <input type="email" name="email" placeholder="customer@gmail.com (답장 받을 이메일 주소)" required/>
                    <input type="hidden" name="name" value="baogao">
                    <input type="hidden" name="subject" value="baogao_spell_check">
                </span>
                <br>
                <textarea name="message" placeholder="의견을 자유롭게 작성하여 주세요."></textarea>
                <br>
                <p>
                    <button type="button" class="popup-close">취소</button>
                    <button type="submit" class="popup-submit">의견 전송</button>
                </p>
            </form>
        </div>
    </div>
    <%- include footer %>


        <!-- </body>

    </html> -->