<%- include header %>
	<div class="form-header lecture-header" style="border-top-color: #168046;">
		<div class="container">
			<div class="form-header-top">
				<!-- <div class="form-header-back"><i class="ion-ios-arrow-left"></i></div>
				<div class="form-header-logo">
					<img src="/img/baogao.png" style="height: 30px; vertical-align: middle;"> 강의평가
				</div> -->
				<div class="clearfix"></div>
				<!-- <span class="form-header-title">여러분의 강의는 어떠셨나요?</span><br> -->
				<span class="form-header-title">中文版课程评价</span><br>
				<!-- <span class="form-header-content"><b>baogao</b>에서 공유해보세요.</span> -->
				<span class="form-header-content">在这里和校友共享你的经验和推荐。</span>
			</div>
			<div class="clearfix"></div>

			<!--search 창  -->
			<div class="search_box">
				<form class="search">
					<input class="search_text" type="text" name="keyword" placeholder="search" value="">
					<button type="submit" class="icon"><i class="fa fa-search btnSearch"></i></button>
				</form>
			</div>

			<div class="lecture_wrap">
				<ul class="lecture_list">
					
				</ul>
				<!-- <div class="lecture_writeBtn">
					<button type="button">강의평 쓰기  &gt; </button>
				</div> -->
			</div>
		</div>
	</div>

	<script src="/js/search.js"></script>
<%- include footer %>