<%- include header %>
	<div class="form-header lecture-header" style="border-top-color: #168046;">
		<div class="container">
			<div class="form-header-top">
				<!-- <div class="form-header-back"><i class="ion-ios-arrow-left"></i></div>
				<div class="form-header-logo">
					<img src="/img/baogao.png" style="height: 30px; vertical-align: middle;"> 강의평가
				</div> -->
				<div class="clearfix"></div>
				<!-- <span class="form-header-title">여러분의 강의는 어떠셨나요?</span><br/> -->
				<span class="form-header-title">中文版课程评价</span><br/>
				<!-- <span class="form-header-content"><b>baogao</b>에서 공유해보세요.</span> -->
				<span class="form-header-content">在这里和校友共享你的经验和推荐。</span>
			</div>
			<div class="clearfix"></div>

			<!--search 창  -->
			<div class="search_box">
				<form class="search">
					<input class="search_text" type="text" name="keyword" placeholder="search" value="">
					<button type="submit" class="icon"><i class="fa fa-search btnSearch"></i></button>
				</form>
			</div>

			<div class="lecture_wrap">
				<div class="lecture_view">
					<div class="school_logo" style="background-image: url('/img/school_logo/<%= req.baogaoUser.school_url %>.png');">
						<img src="/img/11.png" class="school_logo_blank"><span class="school_name" style="color:<%= req.baogaoUser.school_color %>;"><%= req.baogaoUser.school_name %></span>
					</div>
					<div class="lecture_view_text">
						<span class="lecture_name"></span><br>
						<span class="tutor_name">&nbsp;</span><span>교수님</span>
						<div class="star_wrap">
							<span class='star-ratings-css' title='0'></span><span class='star_point'>0 / 5</span>
						</div>

						<ul class="comment_wrap">
							<!-- <li class="comments">
								<div class="modify"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><i class="fa fa-trash-o" aria-hidden="true"></i></div>
								<div class="text">
									<span class="bold_text">교수님 완전 재밌고 학점 잘 주십니다.</span>
									<span>
									교수님 완전 재밌고 학점 잘 주십니다. 재수강 하는 사람 거의 없어요. 짱짱~
								</span>
								</div>
								<div class="text_info">
									<div class="star_wrap"><span class="star-ratings-css" title="3"></span><span class="star_point">3 / 5</span></div>
									<span class="writer"><span>-</span>&nbsp;bet**</span>
								</div>
							</li>
							<li class="comments">
								<div class="modify"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><i class="fa fa-trash-o" aria-hidden="true"></i></div>
								<div class="text">
									<span class="bold_text">교수님 완전 재밌고 학점 잘 주십니다.</span>
									<span>
										교수님 완전 재밌고 학점 잘 주십니다. 재수강 하는 사람 거의 없어요. 짱짱~
									</span>
								</div>
								<div class="text_info">
									<div class="star_wrap"><span class="star-ratings-css" title="3"></span><span class="star_point">3 / 5</span></div>
									<span class="writer"><span>-</span>&nbsp;bet**</span>
								</div>
							</li> -->
						</ul>

						<span class="total-comment"></span>
					</div>
				</div>

				<div class="comment_form">
					<form class="comment_submit">
						<ul style="padding:0;">
							<li class="drag_star">
								<ul class="stars">
									<li class="star selected" title="1">
										<i class="fa fa-star fa-fw"></i>
									</li>
									<li class="star selected" title="2">
										<i class="fa fa-star fa-fw"></i>
									</li>
									<li class="star selected" title="3">
										<i class="fa fa-star fa-fw"></i>
									</li>
									<li class="star selected" title="4">
										<i class="fa fa-star fa-fw"></i>
									</li>
									<li class="star selected" title="5">
										<i class="fa fa-star fa-fw"></i>
									</li>
									<li class="star_point">5</li>
									<input type="hidden" name="rate" id="rate" value="5">
								</ul>
							</li>
							<li class="semester">
								<label>수강년도</label>
								<select name="year" required>
										<option value="">선택해주세요.</option>
										<option value="2017">2017</option>
										<option value="2016">2016</option>
										<option value="2015">2015</option>
										<option value="2014">2014</option>
										<option value="2013">2014 이전</option>
									</select>
							</li>
							<li class="semester">
								<label>수강학기</label>
								<select name="semester" required>
									<option value="">선택해주세요.</option>
									<option value="1">1학기</option>
									<option value="2">2학기</option>
									<option value="S">여름계절학기</option>
									<option value="W">겨울계절학기</option>
								</select>
							</li>
							<!-- <li class="input_textarea"><textarea type="text" placeholder="의견을 작성해주세요." name="comment" required></textarea></li>  -->
							<li class="input_textarea"><textarea type="text" placeholder="请写下您对这门课的评价." name="comment" minlength="10" required></textarea></li>
							<li><button class="comment_btn" type="submit">comment</button></li>
						</ul>
					</form>
				</div>

				<ul class="lecture_list view_lecture_list">
					<!-- <li class="div4 lecture">
						<div class="school_title">이화여대</div>
						<div class="lecture_content">
							<span class="lecture_title">삶과 윤리</span><span class="professor">&nbsp;-이근세</span>

							<div class="star_wrap"><span class="star-ratings-css" title="3"></span><span class="star_point">3 / 5</span></div>
							<div class="text">
								교수님 완전 재밌고 학점 잘 주십니다. 재수강 하는 사람 거의 없어요. 짱짱~
							</div>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<script src="/js/search.js"></script>
	<%- include footer %>