<%- include header %>
	<!-- <div class="login">
		<div class="container">
			<div class="intro-logo">
				<img src="/img/baogao_green.png" style="height: 1em; vertical-align: middle;" />
				<nav>
					<ul class="menus" style="padding-left: 0px;">
						<li class="menu1"><a href="#about">About</a></li>
						<li class="menu1"><a href="#pricing">Pricing</a></li>
						<li class="menu1"><a href="/event/quiz">한국어퀴즈<sup style="color: lightcoral;">event</sup></a></li>
						<li class="menu2"><a href="#school">点这里，选择所属大学</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
			</div>
		</div>
	</div> -->
	<div class="login-request">
		<div class="container">
			<form class="frmLogin">
				<span class="login-title">member sign in</span><br>
				<input type="email" placeholder="E-mail" name="email" /><br>
				<input type="password" placeholder="password" name="password" /><br>
				<button class="login_btn" type="submit">Sign in</button><br>
				<!-- <button class="fb_btn" type="button" onclick="location.href='/api2/v2/fbLogin';">facebook login</button><br>
				<button class="naver_btn" type="button" onclick="location.href='/api2/v2/naverLogin';">naver login</button><br> -->

				<!-- <span class="join_btn">회원가입</span> -->
				<span class="join_btn">申请会员</span>
				<!-- <span class="search_id">비밀번호찾기</span> -->
				<span class="search_id">找回密码</span>
				<br />
				<br />
				<br />
				<br />
				<br />
				
			</form>
		</div>
	</div>
	<!-- <div class="clearfix"></div> -->

	<%- include footer %>