<%- include header %>
	<div class="hide_aside invisible" style="display:none;">
		<i class="ion-android-menu"></i>
	</div>
	<div class="aside_menu invisible" style="display:none;">
		<span class="x-icon"></span>
		<div class="aside_logo"></div>
		<!-- <span class="text">교열 서비스를 받아보세요.</span> -->
		<span class="text">向我们委托
			<br>您的韩文文书吧.</span>
		<img src="/img/notebook.png" />
		<div class="aside_btn">
			<!-- <span>대상 : 대학생</span> -->
			<span>对象：大学生</span>
			<!-- <button class="request_btn">보고서 교열 의뢰<i class="ion-chevron-right"></i></button> -->
			<button class="request_btn">校正报告书
				<i class="ion-chevron-right"></i>
			</button>
		</div>
		<div class="aside_btn">
			<!-- <span>대상 : 대학원생</span> -->
			<span>对象：大学院生</span>
			<!-- <button class="black_btn">논문 교열 의뢰<i class="ion-chevron-right"></i></button> -->
			<button class="black_btn">校正论文
				<i class="ion-chevron-right"></i>
			</button>
		</div>
	</div>
	<div class="alertWrap" style="display: none;">
		<div class="alert-logo">
			<img src="../img/baogao_green.png" />
		</div>
		<div class="text">
			<h3>服务收费指南</h3>
			<span>感谢您使用baogao
				<br /> baogao于2017年6月1日成为付费服务机构
				<br /> 我们将竭尽全力为客户提供更好的服务
			</span>
			<p>2017年 6月 1日</p>
			<div class="alertClose">
				<input type="checkbox" id="alert-day" />
				<label for="alert-day">不要看一天</label>
			</div>
			<!--<h3>바오가오 교열 서비스 유료화 안내</h3>
			<span>바오가오를 이용해주시는 회원님들께 감사드립니다.<br />
			저희 바오가오는 오는 2017년 6월 1일부터 유료로 진행됩니다.<br />
			보다 나은 서비스를 위해 최선을 다 하겠습니다.</span>
			<p>시기 : 2017년 6월 1일</p>
			<div class="alertClose">
				<input type="checkbox" id="alert-day" />
				<label for="alert-day">하루동안 보지 않기</label>
			</div>-->
		</div>


	</div>
	<!--<div class="intro">-->
	<div class="intro" style="background-image: url(/img/main-img.png);">
		<!-- <div class="container" style="height: 100%; background-image: url(/img/video_thumbnail.png); background-size: auto 100%;"> -->
		<div class="container">
			<!-- <div class="intro-logo">
				<img src="/img/baogao_white.png" style="height: 1em; vertical-align: middle;" />
				<nav>
					<ul class="menus" style="padding-left: 0px;">
						<li class="menu1"><a href="#about">About</a></li>
						<li class="menu1"><a href="#pricing">Pricing</a></li>
						<li class="menu1"><a href="/event/quiz">한국어퀴즈<sup style="color: lightcoral;">event</sup></a></li>
						<li class="menu2"><a href="#school">点这里，选择所属大学</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
			</div> -->
			<!-- <span class="intro-title" style="margin-top: 24px;">修改你的报告</span> -->

			<br />
			<br />
			<br />
			<div class="intro-texts">
				<img src="/img/baogao_green.png" vertical-align: middle;" />
				<br>
				<span class="intro-title" style="margin-bottom: 12px;">把你的中式韩文变成标准韩文！</span>
				<span class="intro-content" style="padding-bottom: 12px;">是一项校正、修改、润色各类韩文文书的服务
					<!--baogao는 여러분의 문장에 완벽함을 입혀드립니다.-->
					<!--好像花兒開在春風裏開在春風裏在那裏在那裏見過爾。-->
				</span>
			</div>
			<br />
			<br />
			<br />
			<button class="intro-watch-video" onclick="window.open('https://www.youtube.com/watch?v=nssarxmjDDA');" style="display:none;">
				<img src="/img/play-button.png">
			</button>
			<br />
			<br />
			<br />
			<br />
			<button class="intro-button" id="gotoSchool" style="display: none;">点这里，选择所属大学</button>
			<div style="text-align: center; display: none;">
				<img src="/img/a4.png" class="intro-a4" />
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="intro-btns">
		<div class="container">
			<div class="intro-btn intro-btn1">
				<a href="/black">
					<span class="intro-btn-sub">특별 문서 교열</span>
					<span class="intro-btn-sub_mobile"><span>简历等特殊文书</span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
					<span class="intro-btn-title">
						<img src="/img/button-1.png" class="intro_img_web" />
						<img src="/img/button-1-m.png" class="intro_img_mobile" />
						<span>简历等特殊文书</span>
					</span>
				</a>
			</div>
			<div class="intro-btn">
				<a href="/request">
					<span class="intro-btn-sub">학부 레포트 교열</span>					
					<span class="intro-btn-sub_mobile"><span>针对大学本科生提供的服务</span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
					<span class="intro-btn-title">
						<img src="/img/button-2.png" class="intro_img_web" />
						<img src="/img/button-2-m.png" class="intro_img_mobile" />
						<span>针对大学本科生提供的服务</span>
					</span>
				</a>
			</div>
			<!-- <div class="intro-btn intro-btn3" style="display:none;">
				<a href="/lecture">
					<span class="intro-btn-sub">중국어판 강의평가</span>
					<span class="intro-btn-sub_mobile"><span>中文版课评</span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
					<span class="intro-btn-title">
						<img src="/img/button-3.png" class="intro_img_web" />
						<img src="/img/button-3-m.png" class="intro_img_mobile" />
						<span>中文版课评</span>
					</span>
				</a>
			</div> -->
			<div class="intro-btn intro-btn3">
				<a href="/tools/spell">
					<span class="intro-btn-sub">맞춤법 검사기</span>
					<span class="intro-btn-sub_mobile"><span>맞춤법 검사기</span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
					<span class="intro-btn-title">
						<img src="/img/button-3.png" class="intro_img_web" />
						<img src="/img/button-3-m.png" class="intro_img_mobile" />
						<span>맞춤법 검사기</span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="new_about">
		<div class="container">
			<div class="progress">
				<div class="about_before">
					<img src="/img/before-img.png">
				</div>
				<div class="about_icon">
					<img src="/img/circle-1.png">
					<span>校正前</span>
				</div>
				<div class="about_help">
					<!-- 힘들게 써내려간 레포트인데, 읽는 사람이 이해하지 못 한다면 무슨 소용 ? -->
					<span>废了好大力气写好的报告， 但是总害怕读者无法理解怎么办！？</span>
				</div>
			</div>
			<div class="progress">
				<div class="about_before">
					<img src="/img/after-img.png">
				</div>
				<div class="about_icon">
					<img src="/img/circle-2.png">
					<span>校正后</span>
				</div>
				<div class="about_help">
					<!-- baogao가 당신의 수고로움까지 이해한 교열을 진행해 드립니다! -->
					<span>你害怕是因为你写得不好~ 至少你自己是这么认为的。<br>在你遇到困难和挫折的时候，谁才是最能理解你和帮助你的人？ 是我们！我们可以帮助你！</span>
				</div>
			</div>
			<div class="progress last_progress">
				<div class="about_icon_mobile">
					<img src="/img/circle-3_mobile.png" style="max-width:70px;">
					<span>写作建议</span>
				</div>
				<div class="about_help mobile_none">
					<span>수정된 흔적을 통해 어느 부분에서 수정이 이루어졌는지 볼 수도 있답니다. 이 첨언을 통해 여러분의 작문 실력에 향상을 도모합니다.</span>
						
				</div>
				<div class="about_icon mobile_none">
					<img src="/img/circle-3.png" style="max-width:280px;">
				</div>
				<div class="about_help">
					<span>你可以通过修改的痕迹知道哪些部分是你经常出错的。<br>如果你了解自己经常出错的部分，就可以避免以后继续犯错误，不然的话，写作能力很难提高。</span>
				</div>
			</div>
		</div>
	</div>

	<div class="about" id="about">
		<div class="container" style="position: relative;">
			<!-- <span class="title">baogao가 뭣이가</span><br /> -->
			<div class="about_section section_us">
				<img src="/img/review.png" />
				<div class="about_article">
					<!--<h2>About</h2> -->
					<h2>关于我们</h2>
					<p>baogao는 재한 유학생에 한국어 보고서 교열을 제공하는 서비스입니다.</p>
					<a href="/about#about">
						<p class="read-more">了解更多 &gt; </p>
					</a>
				</div>
			</div>
			<div class="about_section section_reviewer">
				<img src="/img/document.png" />
				<div class="about_article">
					<!-- <h2>Reviewer</h2> -->
					<h2>校正官们</h2>
					<p>여러분의 보고서를 엄선된 교열가들이 첨삭합니다.</p>
					<a href="/about#about">

						<p class="read-more">了解更多 &gt; </p>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="pricing" id="pricing" style="display: none;">
		<!-- <svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="curve" fill="red">
			<polygon points="1280 0 1280 70 0 70" fill="#b9d8c7"></polygon>
		</svg> -->
		<div class="container">
			<br />
			<br />

			<span class="title">价格信息</span>
			<br />
			<br />

			<table class="pricing-table">
				<tr class="pricing-table-line">
					<th class="pricing-table-line-title">
						~3 页
					</th>
					<td class="pricing-table-line-content">
						<span style="font-weight: 700;">7,000韩元</span>
						<br />
						<span style="font-size: 0.8em; color: gray;">Microsoft Word, 10.5pt 기준, 표지 제외</span>
						<!--￦4,900<br />-->

					</td>
					<td class="pricing-table-line-infomation" rowspan="4">
						<button class="gotoSchool">
							点这里，选择所属大学
						</button>
						<span>
							<i class="fa fa-check" aria-hidden="true"></i>전문 교열 서비스</span>
						<span>
							<i class="fa fa-check" aria-hidden="true"></i>첨삭지도 제공</span>
						<br />

						<span style="text-align: center; font-size: 1em;">논문 교열 고객:</span>
						<div style="border-radius: 6px; background-color: #dbdbdb; padding: 10px; text-align: center;">
							<a href="https://goo.gl/forms/YFj8ARa6EnanKrS83" target="_blank" style="font-size: .8em; color: #231f20; text-decoration: underline;">이 페이지를 방문 - baogao black</a>
						</div>


					</td>
				</tr>
				<tr class="pricing-table-line">
					<td class="pricing-table-line-title">
						~4 页
					</td>
					<td class="pricing-table-line-content">
						<span style="font-weight: 700;">8,000韩元</span>
						<br />
						<span style="font-size: 0.8em; color: gray;">Microsoft Word, 10.5pt 기준, 표지 제외</span>
						<!--￦7,900<br />-->
					</td>
				</tr>
				<tr class="pricing-table-line">
					<td class="pricing-table-line-title">
						~5 页
					</td>
					<td class="pricing-table-line-content">
						<span style="font-weight: 700;">5页为9,000韩元，</span>
						<br /> 每增加一页加1,000韩元。
						<br />
						<span style="font-size: 0.8em; color: gray;">Microsoft Word, 10.5pt 기준, 표지 제외</span>
						<br />
					</td>
				</tr>
				<tr class="pricing-table-line">
					<td class="pricing-table-line-title">
						15 页~
					</td>
					<td class="pricing-table-line-content">
						15页以上视为论文，请单独联系负责人。
						<br />

					</td>
				</tr>

			</table>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
	</div>
	<br />
	<br />
	<br />
	<!-- <br />
	<br />
	<br /> -->

	<div class="intro recommended_wrap" style="color: #168046; z-index: 101; display: none;">
		<div class="container" style="padding: 30px 0px 120px 0px; z-index: 4;">
			<!-- <span class="title">추천강의</span> -->
			<span class="title">推荐课程</span>
			<br />
			<!-- <span class="sub_title">baogao에서 엄선한 추천강의 리스트</span> -->
			<!-- <span class="sub_title">人气课程</span> -->
			<span class="sub_title">精选自评分最高的人气课程</span>
			<br />
			<div class="recommendedLecture_list">
				<!-- <div class="update_alert_wrap">
					<div class="alert_text">
						아직 강의평을 남길 수업이 없습니다. <br/>업데이트 후 강의를 공유해주세요!
					</div>
				</div> -->
				<!-- <li class="lecture div4" >
					<div class="lecture_content">
						<h3>삶과 윤리</h3><span class="tutor_name">&nbsp;- 이근세</span>
						<div class="star_wrap"><span class="star-ratings-css" title="4"></span><span class="star_point">4/ 5</span></div>
						<div class="text">
							교수님 완전 재밌고 학점 잘 주십니다. 재수강 하는 사람 거의 없어요. 짱짱~
						</div>
					</div>
					<span class="arrow">▶</span></li>
				<li class="lecture div4"><span class="arrow">▶</span></li>
				<li class="lecture div4"><span class="arrow">▶</span></li>
				<li class="lecture div4"><span class="arrow">▶</span></li>
				<li class="lecture div4"><span class="arrow">▶</span></li>
				<li class="lecture div4"><span class="arrow">▶</span></li> -->
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="clearfix"></div>
	<!-- <div class="intro" style="color: #168046; z-index: 101;">
		<div class="container" style="padding: 30px 0px 120px 0px; z-index: 4;">
			<span class="title">교열후기</span>
			<br />
			<span class="sub_title">baogao 서비스에 대한 후기입니다.</span>
			<br />
			<ul class="service_review_list">
				<li class="review"></li>
				<li class="review"></li>
				<li class="review"></li>
				<li class="review"></li>
				<li class="review"></li>
				<li class="review"></li>
			</ul>
		</div>
	</div> -->

	<div class="school" style="display: none;">
		<!--<svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="curve" fill="red" style="">
			<polygon points="1280 0 1280 70 0 70" fill="#e7f2ec"></polygon>
		</svg>-->
		<div class="container">
			<span class="title">
				<img src="/img/baogao_green.png" style="height: 35px; vertical-align: middle;" />正在这些大学里
			</span>
			<span class="title">'如火如荼'地进行中:</span>
			<br />


			<% param.school.forEach(function(item1) { %>
				<div class="school-item" style="background-image: url('/img/school_logo/<%= item1.url %>.png');" onclick="location.href='/<%= item1.url %>';">
					<span class="school-item-title">
						<%= item1.name %>
					</span>
				</div>
				<% }); %>
					<!--<div class="school-item" style="background-image: url('/img/plus.png');">
				<span class="school-item-title">학교추가요청</span>-->
					<!--/<span class="school-item-subject">KOREA UNIVERSITY</span>-->
					<!--</div>-->
					<br />
					<br />
					<br />
					<br />
		</div>
		<!--<div style="width: 100%; text-align: left;">
			<svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="curve" fill="red">
				<polygon points="1280 0 1280 70 0 70" fill="#fff"></polygon>
			</svg>
		</div>-->
	</div>

	<div class="school2" id="school" style="display: none;">
		<!-- <svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="curve" fill="red" style="">
			<polygon points="1280 0 1280 70 0 70" fill="#d0e5da"></polygon>
		</svg> -->
		<div class="container">
			<span class="title">
				<img src="/img/baogao_green.png" style="height: 35px; vertical-align: middle;" />正在这些大学里
			</span>
			<span class="title">'如火如荼'地进行中:</span>
			<br />
			<br />
			<br />
			<br />

			<input type="checkbox" class="school2-list-open" id="school2-list-open" style="display: none;">
			<label for="school2-list-open">
				<i class="fa fa-graduation-cap" aria-hidden="true"></i> 목록 열기
				<i class="fa fa-caret-down" aria-hidden="true" style="position: absolute; right: 16px; top: 16px;"></i>
			</label>
			<div class="school2-list">
				<% param.school.forEach(function(item1) { %>
					<div class="school2-list-item" style="background-image: url('/img/school_logo/<%= item1.url %>.png');" onclick="location.href='/<%= item1.url %>';">
						<span class="school2-list-item-title">
							<%= item1.name %>
						</span>
					</div>
					<% }); %>
			</div>
			<br />
			<br />
		</div>

	</div>
	<div class="intro" style="color: #168046; z-index: 101;">
		<!-- <svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="curve" fill="red" style="">
			<polygon points="1280 0 1280 70 0 70" fill="#e7f2ec"></polygon>
		</svg> -->
		<div class="container" style="padding: 30px 0px 120px 0px; z-index: 4; background-image: url(/img/follow.png);">
			<!-- <span class="title">Follow Us on WeChat!</span> -->
			<span class="title">关注我们的公众号</span>
			<br />
			<br />
			<img src="/img/wechat.png" style="width: 80%; max-width: 200px; z-index: 4; position: relative;" />
			<br /> baogao_co

			<!--<span class="title" style="color: #fcfcfc; font-size: 1.5em;">Other platform:</span><br />
			<a href="https://www.instagram.com/baogao.co/" target="_blank"><br /><i class="fa fa-instagram fa-4x" aria-hidden="true" style="color: #fcfcfc; text-decoration: none;"></i></a><br />instagram: baogao.co-->

		</div>
	</div>
	<%- include footer %>