<%- include header %>
	<br />
	<div class="account">
		<div class="container" style="border-bottom: 1px solid #dadada; padding-bottom: 20px;">
			<span style="font-size: 1.2em; font-weight: 100;"><%= req.baogaoUser.email %></span><br />
			<span style="font-size: 2em; font-weight: 400;"><%= req.baogaoUser.name %></span><br />

			<!-- <button class="account-button" style="background-color: #dadada; color: #231f20;" id="account-logout" type="button">로그아웃</button> -->
			<button class="account-button" style="background-color: #dadada; color: #231f20;" id="account-logout" type="button">退出登陆</button>
		</div>
		<br />
		<!-- <span class="account-title">학교 인증</span> -->
		<span class="account-title">学校认证</span>
		<% if(req.baogaoUser.is_authenticated) {%>
			<div class="account-school container">
				<!-- <i style="color: #168046; font-size: 4em;" class="fa fa-check" aria-hidden="true"></i><br /><br /> 학교 인증이 완료되었습니다.<br -->
				<i style="color: #168046; font-size: 4em;" class="fa fa-check" aria-hidden="true"></i><br /><br /> 学校认证已完成.<br
				/>
			</div>
			<% } else { %>
				<!-- <div class="account-school container">

			<i style="color: #168046; font-size: 4em;" class="fa fa-exclamation" aria-hidden="true"></i><br /><br />
			아직 학교 인증이 완료되지 않았습니다.<br /> 
			아래 버튼을 눌러 인증해주세요.<br /><br />
			<button class="account-button" id="account-auth">인증하기</button>
		</div> -->
				<div class="account-school container">

					<i style="color: #168046; font-size: 4em;" class="fa fa-exclamation" aria-hidden="true"></i><br /><br /> 您还没有完成学校认证<br /> 请按下方按钮进行认证<br /><br />
					<button class="account-button" id="account-auth">认证</button>
				</div>
				<% } %>
					<!-- <span class="account-title">내 정보</span> -->
					<span class="account-title">我的信息</span>
					<div class="container">
						<form class="">
							<table class="account-table">
								<tr>
									<td>邮箱</td>
									<td>
										<%= req.baogaoUser.email %>
									</td>
								</tr>
								<tr>
									<!-- <td>비밀번호</td> -->
									<td>密码</td>
									<td>
										<button style="background-color: #dadada; color: #231f20; margin-top: 2px;" class="account-button" id="changePassword" type="button">
								<!-- 암호 변경 -->
								变更密码
							</button>
									</td>
								</tr>
								<tr>
									<td>姓名</td>
									<td>
										<%= req.baogaoUser.name %>
									</td>
								</tr>
								<tr>
									<!-- <td>학교명</td> -->
									<td>学校</td>
									<td>
										<%= req.baogaoUser.school_name %>
									</td>
								</tr>
								<tr>
									<!-- <td>전공</td> -->
									<td>专业</td>
									<td>
										<%= req.baogaoUser.major %>
									</td>
								</tr>
								<tr>
									<!-- <td>입학년도</td> -->
									<td>入学年度</td>
									<td>
										<%= req.baogaoUser.enter_year %>
									</td>
								</tr>
								<tr>
									<!-- <td>연락처</td> -->
									<td>手机号码</td>
									<td>
										<%= req.baogaoUser.phone %>
									</td>
									<!-- <td><input type="text" value=""/></td> -->
								</tr>
								<tr>
									<!-- <td>메신저</td> -->
									<td>微信 ID</td>
									<td>
										<%= req.baogaoUser.wechat_id %>
									</td>
									<!-- <td><input type="text" value="wechat"/></td> -->
								</tr>
							</table>
							<br />
							<!-- <button class="account-button" type="submit">내 정보 수정</button> -->

						</form>
					</div>
	</div>
	<%- include footer %>