<%- include header %>
	<div class="form-header" style="border-top-color: #168046;">
		<div class="container" style="padding-bottom:10px;">
			<div class="form-header-top">
				<div class="container school_bg" style="background-image: url('/img/school_background/<%= req.baogaoUser.school_url %>.jpg'); background-position: center;">
					<span class="request-title" style="border-top-color: <%= req.baogaoUser.school_color %>;">
						恭喜您成功申请了校正服务，<br />
						我们将通过邮件通知您进行状况。
					</span>
					<div class="cover"></div>
				</div>
				<div class="request-content">
					<table id="requestT">
						<caption>요청정보</caption>
						<colgroup>
							<col class="cola" />
							<col class="colb" />
						</colgroup>
						<tr>
							<td>邮箱</td>
							<th><%- param.request.email %></th>
						</tr>
						<tr>
							<td>姓名</td>
							<th><%- param.request.name %></th>
						</tr>
						<tr>
							<td>科目名</td>
							<th><%- param.request.subject %></th>
						</tr>
						<tr>
							<td>韩文报告</td>
							<th><%- param.request.file.split("/").pop() %></th>
						</tr>
						<tr>
							<td>中文报告</td>
							<th><%- param.request.original.split("/").pop() %></th>
						</tr>
						<tr>
							<td>其它要求</td>
							<th><pre><%- param.request.context %></pre></th>
						</tr>
					</table>

					<div class="buttons">
						<button id="r-check" type="button" style="background-color: <%= req.baogaoUser.school_color %>;">확 인</button>
						<!--<button id="r-modify" type="button">수 정</button>-->
						<!--<button id="r-modify" type="button" onclick="location.href='/<%= req.baogaoUser.school_url %>/modify';">수 정</button>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<%- include footer %>