<!DOCTYPE>
<!DOCTYPE html>
<html lang="kr">

<head>
    <title>TOPIK 채점기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <link href="css/topik_style.css" rel="stylesheet">
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="js/topik_main.js"></script>
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <div class="header_wrap">
                <header>
                    <div id="logo">
                        <h1>
                            <a href="/topik_tool">MARK - TOPIK</a>
                        </h1>
                    </div>
                    <!--
                    <div id="menu" style="display:none;">
                        <div>
                            <a href="#">채점목록</a>
                        </div>
                    </div>
                -->
                </header>
            </div>

            <div id="page">

                <!-- 프로그래스 바 -->
                <div class="progress_wrap no-print">
                    <ul id="progressbar">
                        <li class="active">텍스트 입력</li>
                        <li>채점 페이지</li>
                        <!-- <li>전개/내용 체크</li>
                        <li>문법 체크</li> -->
                        <li>완료</li>
                    </ul>
                </div>

                <!-- 1번째 페이지 -->
                <div id="content">
                    <form class="myform1">
                        <div class="type_back">
                            <div class="type_wrap">
                                <h2>문제유형</h2>
                                <!-- <input type="hidden" /> -->
                                <div id="form_type">
                                    <input type="hidden" class="quiz_type_val">
                                </div>
                            </div>
                        </div>

                        <div class="textarea_wrap">
                            <textarea name="question_text" id="form_text" placeholder="텍스트를 입력하세요. \n\n문단은 엔터로 구분해주세요."></textarea>

                            <!-- <h1>51번</h1>
                            <textarea name="question_text" placeholder="문장을 입력해주세요."></textarea>
                            <br>
                            <textarea name="question_text" placeholder="문장을 입력해주세요."></textarea> -->

                            <br>
                            <span class="text_count">글자수:
                                <span class="total_score">0</span>
                                <span class="standard_score"></span>
                            </span>
                            <p>
                                <button type="submit" class="button-style">채점하기</button>
                            </p>
                        </div>
                        <span class="mobile_info">* 감점 추가는 Web버전에서 가능합니다.</span>

                    </form>

                </div>

                <div id="content2_wrap" class="invisible">
                    <!-- <div id="content2_wrap"> -->
                    <div class="type_back no-print">
                        <div class="type_wrap">
                            <!-- <h2>문제유형</h2> -->
                            <span class="back_arrow" onclick="back_arrow_evt()">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </span>

                            <span class="result_text">
                                <span class="question_type"></span>
                                <!-- <span>현재감점
                                    <span>-
                                        <span class="minus_point_span"></span>점</span>
                                </span>
                                <span>현재점수
                                    <b class="now_score"></b>/
                                    <b></b> 점
                                </span> -->
                            </span>

                        </div>
                    </div>

                    <!-- 2번째 페이지 -->
                    <div class="content2_inner_wrap">

                        <p>
                            <button type="button" class="button-style" onclick="location.href='/topik_tool'">다시쓰기</button>
                            <button type="button" class="button-style complete_check_btn">완료 및 확인</button>
                        </p>

                        <div class="content2_table">
                            <div id="content2">
                                <form class="myform2">
                                    <div class="textarea_wrap">

                                        <div class="form_text_wrap">
                                            <!-- <input type="hidden" value=""> -->
                                            <div name="question_text" id="form_text"></div>
                                        </div>

                                    </div>
                                </form>

                            </div>

                            <span class="text_count mobile_ver">글자수:
                                <span class="total_score">0</span>
                                <span class="standard_score"></span>
                            </span>

                            <div id="sidebar" class="sidebar2">

                                <div class="assess">
                                    <div class="short_type">
                                        <ul>
                                            <li>
                                                <h1>내용 및 과제수행</h1>
                                                <div class="radio_wrap">
                                                    <span>- 제시된 과제에 맞게 적절한 내용으로 썼습니까?</span>
                                                    <div class="switch">
                                                        <!-- <label for="five" class="switch__label">
                                                            <input name="switch" id="five" type="radio" />
                                                            <br>상
                                                        </label>
                                                        <label for="four" class="switch__label">
                                                            <input name="switch" id="four" type="radio" />
                                                            <br>상중
                                                        </label>
                                                        <label for="three" class="switch__label">
                                                            <input name="switch" id="three" type="radio" />
                                                            <br>중
                                                        </label>
                                                        <label for="two" class="switch__label">
                                                            <input name="switch" id="two" type="radio" />
                                                            <br>중하
                                                        </label>
                                                        <label for="one" class="switch__label">
                                                            <input name="switch" id="one" type="radio" checked/>
                                                            <br>하
                                                        </label> -->
                                                    </div>
                                                </div>
                                                <h1>코멘트</h1>
                                                <textarea name="help_text" rows="6"></textarea>
                                            </li>
                                            <li>
                                                <h1>언어사용</h1>
                                                <div class="radio_wrap">
                                                    <span>- 어휘와 문법 등의 사용이 정확하고 격식에 맞습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <h1>코멘트</h1>
                                                <textarea name="help_text" rows="6"></textarea>
                                            </li>
                                            <li>
                                                <button class="user_btn" type="button">의견 보내기</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="long_type">
                                        <ul>
                                            <li>
                                                <h1>내용 및 과제수행</h1>
                                                <div class="radio_wrap">
                                                    <span>- 주어진 과제를 충실히 수행하였습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <div class="radio_wrap">
                                                    <span>- 주제에 관련된 내용으로 구성하였습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <div class="radio_wrap">
                                                    <span>- 주어진 내용을 풍부하고 다양하게 표현하였습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <h1>코멘트</h1>
                                                <textarea name="help_text" rows="6"></textarea>
                                            </li>
                                            <li>
                                                <h1>글의 전개 구조</h1>
                                                <div class="radio_wrap">
                                                    <span>- 글의 구성이 명확하고 논리적입니까?</span>
                                                    <div class="switch"></div>
                                                </div>

                                                <div class="radio_wrap">
                                                    <span>- 글의 내용에 따라 단락 구성이 잘 이루어졌습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <div class="radio_wrap">
                                                    <span>- 논리 전개에 도움이 되는 담화 표지를 적절하게 사용하여 조직적으로 연결하였습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <h1>코멘트</h1>
                                                <textarea name="help_text" rows="6"></textarea>
                                            </li>
                                            <li>
                                                <h1>언어사용</h1>
                                                <div class="radio_wrap">
                                                    <span>- 문법과 어휘를 다양하고 풍부하게 사용하며 적절한 문법과 어휘를 선택하여 사용하였습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <div class="radio_wrap">
                                                    <span>- 문법, 어휘, 맞춤법 등의 사용이 정확합니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <div class="radio_wrap">
                                                    <span>- 글의 목적과 기능에 따라 격식에 맞게 글을 썼습니까?</span>
                                                    <div class="switch"></div>
                                                </div>
                                                <h1>코멘트</h1>
                                                <textarea name="help_text" rows="6"></textarea>
                                            </li>
                                            <li>
                                                <button class="user_btn" type="button">의견 보내기</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <form class="result_content">
                                    <div id="tbox1">
                                        <div class="style2">

                                        </div>
                                    </div>
                                    <button type="submit" class="result_submit"></button>
                                </form>
                            </div>
                        </div>

                        <span class="text_count">글자수:
                            <span class="total_score">0</span>
                            <span class="standard_score"></span>
                        </span>

                        <div class="clearFix"></div>
                        <p>
                            <button type="button" class="button-style" onclick="location.href='/topik_tool'">다시쓰기</button>
                            <button type="button" class="button-style complete_check_btn">완료 및 확인</button>
                        </p>
                    </div>

                    <!-- 3번째 페이지 -->
                    <div class="content3_inner_wrap invisible">
                        <!-- <div class="content3_inner_wrap"> -->
                        <div class="content3_table">
                            <div id="content_before" class="content3">
                                <span class="before_after">교정 전 (Before)</span>
                                <div class="textarea_wrap">
                                    <div class="form_text_wrap">
                                        <!-- <input type="hidden" value=""> -->
                                        <div name="question_text" id="form_text"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="content_after" class="content3">
                                <span class="before_after">교정 후 (After)</span>
                                <div class="textarea_wrap">
                                    <div class="form_text_wrap">
                                        <!-- <input type="hidden" value=""> -->
                                        <div name="question_text" id="form_text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="page-break"></div> -->
                        <div class="clearFix"></div>

                        <br>
                        <br>
                        <br>
                        <br>

                        <p class="page3_btns no-print">
                            <button type="button" class="button-style back_btn">뒤로가기</button>
                            <button type="button" class="button-style print_btn">인쇄하기</button>
                        </p>

                        <div class="page-break"></div>

                        <div id="sidebar" class="sidebar3">
                            <div id="tbox1">
                                <h2>평가</h2>
                                <div class="assess_table">
                                    
                                </div>
                                <h2>TOPIK 단어장</h2>
                                <div class="style2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="no-print">
            <p>
                CICERON, 3F 36, Donggyo-ro 12-gil, Mapo-gu Seoul, South Korea
                <br> 서울특별시 마포구 동교로 12길 36 3층 주식회사 씨세론
                <br> TEL +82-2-336-3830 | E-MAIL
                <a href="mailto:chingoo@ciceron.me" target="_top">chingoo@ciceron.me</a>
            </p>
            <p>
                <button class="button-style popup_btn" type="button">의견보내기</button>
            </p>
        </footer>
    </div>
    <!-- </div> -->

    <div class="popup invisible">
        <div class="popup-inner">
            <h2>의견 보내기
                <a class="popup-close" href="#">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </h2>

            <form class="popup_form form_send_mail">

                의견 또는 문의사항을 보내주세요.
                <br> 이메일주소를 적어주시면 답변을 받으실 수 있습니다.
                <br>
                <br>

                <!-- <span>성함</span>
                <input type="text" name="name" /> -->
                <span>
                    <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    <input type="email" name="email" placeholder="customer@gmail.com (답장 받을 이메일 주소)" />
                </span>
                <br>
                <textarea name="message" placeholder="의견을 자유롭게 작성하여 주세요."></textarea>
                <br>
                <p>
                    <button type="button" class="popup-close">취소</button>
                    <button type="submit" class="popup-submit">의견 전송</button>
                </p>
                <input type="hidden" name="subject" value="topik">
                <input type="hidden" name="name" value="test">
            </form>
        </div>
    </div>

    <div class="select_text_popup">
        <span>감점 추가하기</span>
    </div>

    <div class="select_sentence_popup">
        <span>문장 선택</span>
    </div>

</body>

</html>